<script src="/static/resources/js/layout/header/header.module.js"></script>
<script src="/static/resources/js/layout/header/header.controller.js"></script>

<script src="/static/resources/js/layout/footer/footer.module.js"></script>
<script src="/static/resources/js/layout/footer/footer.controller.js"></script>

<script src="/static/resources/js/layout/navigation/navigation.module.js"></script>
<script src="/static/resources/js/layout/navigation/navigation-header.directive.js"></script>
<script src="/static/resources/js/layout/navigation/navigation-details.directive.js"></script>
<script src="/static/resources/js/layout/navigation/navigation-admin-options.directive.js"></script>

<script src="/static/resources/js/layout/sign-up/sign-up.module.js"></script>
<script src="/static/resources/js/layout/sign-up/sign-up.controller.js"></script>

<script src="/static/resources/js/layout/add-new/add-new.module.js"></script>
<script src="/static/resources/js/layout/add-new/add-new.controller.js"></script>

<script src="/static/resources/js/layout/account-setting/account-setting.module.js"></script>
<script src="/static/resources/js/layout/account-setting/account-setting.controller.js"></script>

<script src="/static/resources/js/layout/forgot-password/forgot-password.module.js"></script>
<script src="/static/resources/js/layout/forgot-password/forgot-password.controller.js"></script>

<script src="/static/resources/js/layout/change-password/change-password.module.js"></script>
<script src="/static/resources/js/layout/change-password/change-password.controller.js"></script>

<script src="/static/resources/js/layout/reset-password/reset-password.module.js"></script>
<script src="/static/resources/js/layout/reset-password/reset-password.controller.js"></script>

<script src="/static/resources/js/layout/index/index.module.js"></script>
<script src="/static/resources/js/layout/index/index.controller.js"></script>

<script src="/static/resources/js/layout/dashboard/dashboard.module.js"></script>
<script src="/static/resources/js/layout/dashboard/dashboard.controller.js"></script>

<script src="/static/resources/js/layout/project/project.module.js"></script>
<script src="/static/resources/js/layout/project/project.controller.js"></script>

<script src="/static/resources/js/layout/details/details.module.js"></script>
<script src="/static/resources/js/layout/details/details.config.js"></script>
<script src="/static/resources/js/layout/details/details.controller.js"></script>

<script src="/static/resources/js/layout/admin-option/admin-option.module.js"></script>
<script src="/static/resources/js/layout/admin-option/admin-option.controller.js"></script>
<script src="/static/resources/js/layout/admin-option/admin-option.config.js"></script>

<script src="/static/resources/js/layout/search/search.module.js"></script>
<script src="/static/resources/js/layout/search/search.controller.js"></script>

<script src="/static/resources/js/components/element-height/element-height.module.js"></script>
<script src="/static/resources/js/components/element-height/element-height.inspector.js"></script>

<script src="/static/resources/js/services/search/services.search.module.js"></script>
<script src="/static/resources/js/services/search/services.search.js"></script>

<script src="/static/resources/js/services/project/services.project.module.js"></script>
<script src="/static/resources/js/services/project/services.list-project.js"></script>
<script src="/static/resources/js/services/project/services.add-project.js"></script>
<script src="/static/resources/js/services/project/services.toggle-project-publicity.js"></script>
<script src="/static/resources/js/services/project/services.stat-project.js"></script>
<script src="/static/resources/js/services/project/services.delete-project.js"></script>

<script src="/static/resources/js/services/user/services.user.module.js"></script>
<script src="/static/resources/js/services/user/services.current-user.js"></script>
<script src="/static/resources/js/services/user/services.sign-in.js"></script>
<script src="/static/resources/js/services/user/services.sign-up.js"></script>
<script src="/static/resources/js/services/user/services.user-exist.js"></script>
<script src="/static/resources/js/services/user/services.change-password.js"></script>
<script src="/static/resources/js/services/user/services.send-mail.js"></script>
<script src="/static/resources/js/services/user/services.reset-password.js"></script>
<script src="/static/resources/js/services/user/services.list-user.js"></script>
<script src="/static/resources/js/services/user/services.toggle-admin.js"></script>
<script src="/static/resources/js/services/user/services.delete-user.js"></script>
<script src="/static/resources/js/services/user/services.log-out.js"></script>
<script src="/static/resources/js/services/user/services.update-user.js"></script>

<script src="/static/resources/js/services/repository/services.repository.module.js"></script>
<script src="/static/resources/js/services/repository/services.list-repository.js"></script>
<script src="/static/resources/js/services/repository/services.list-tag.js"></script>
<script src="/static/resources/js/services/repository/services.list-manifest.js"></script>
<script src="/static/resources/js/services/repository/services.delete-repository.js"></script>
<script src="/static/resources/js/services/repository/services.list-top-repository.js"></script>

<script src="/static/resources/js/services/project-member/services.project-member.module.js"></script>
<script src="/static/resources/js/services/project-member/services.current-project-member.js"></script>
<script src="/static/resources/js/services/project-member/services.add-project-member.js"></script>
<script src="/static/resources/js/services/project-member/services.list-project-member.js"></script>
<script src="/static/resources/js/services/project-member/services.edit-project-member.js"></script>
<script src="/static/resources/js/services/project-member/services.delete-project-member.js"></script>

<script src="/static/resources/js/services/log/services.log.module.js"></script>
<script src="/static/resources/js/services/log/services.list-log.js"></script>
<script src="/static/resources/js/services/log/services.list-integrated-log.js"></script>

<script src="/static/resources/js/services/replication-policy/services.replication-policy.module.js"></script>
<script src="/static/resources/js/services/replication-policy/services.list-replication-policy.js"></script>
<script src="/static/resources/js/services/replication-policy/services.create-replication-policy.js"></script>
<script src="/static/resources/js/services/replication-policy/services.toggle-replication-policy.js"></script>
<script src="/static/resources/js/services/replication-policy/services.update-replication-policy.js"></script>
<script src="/static/resources/js/services/replication-policy/services.delete-replication-policy.js"></script>

<script src="/static/resources/js/services/replication-job/services.replication-job.module.js"></script>
<script src="/static/resources/js/services/replication-job/services.list-replication-job.js"></script>

<script src="/static/resources/js/services/destination/services.destination.module.js"></script>
<script src="/static/resources/js/services/destination/services.create-destination.js"></script>
<script src="/static/resources/js/services/destination/services.list-destination.js"></script>
<script src="/static/resources/js/services/destination/services.ping-destination.js"></script>
<script src="/static/resources/js/services/destination/services.update-destination.js"></script>
<script src="/static/resources/js/services/destination/services.delete-destination.js"></script>
<script src="/static/resources/js/services/destination/services.list-destination-policy.js"></script>

<script src="/static/resources/js/session/session.module.js"></script>
<script src="/static/resources/js/session/session.current-user.js"></script>

<script src="/static/resources/js/components/optional-menu/optional-menu.module.js"></script>
<script src="/static/resources/js/components/optional-menu/optional-menu.directive.js"></script>

<script src="/static/resources/js/components/modal-dialog/modal-dialog.module.js"></script>
<script src="/static/resources/js/components/modal-dialog/modal-dialog.directive.js"></script>

<script src="/static/resources/js/components/validator/validator.module.js"></script>
<script src="/static/resources/js/components/validator/validator.config.js"></script>

<script src="/static/resources/js/components/validator/password.validator.js"></script>
<script src="/static/resources/js/components/validator/confirm-password.validator.js"></script>
<script src="/static/resources/js/components/validator/user-exist.validator.js"></script>
<script src="/static/resources/js/components/validator/invalid-chars.validator.js"></script>
<script src="/static/resources/js/components/validator/project-name.validator.js"></script>

<script src="/static/resources/js/components/search/search.module.js"></script>
<script src="/static/resources/js/components/search/search.directive.js"></script>
<script src="/static/resources/js/components/search/search-input.directive.js"></script>

<script src="/static/resources/js/components/sign-in/sign-in.module.js"></script>
<script src="/static/resources/js/components/sign-in/sign-in.directive.js"></script>

<script src="/static/resources/js/components/project/project.module.js"></script>
<script src="/static/resources/js/components/project/add-project.directive.js"></script>
<script src="/static/resources/js/components/project/publicity-button.directive.js"></script>

<script src="/static/resources/js/components/details/switch-pane-projects.directive.js"></script>
<script src="/static/resources/js/components/details/retrieve-projects.directive.js"></script>

<script src="/static/resources/js/components/repository/repository.module.js"></script>
<script src="/static/resources/js/components/repository/list-repository.directive.js"></script>
<script src="/static/resources/js/components/repository/list-tag.directive.js"></script>
<script src="/static/resources/js/components/repository/popup-details.directive.js"></script>
<script src="/static/resources/js/components/repository/pull-command.directive.js"></script>

<script src="/static/resources/js/components/project-member/project-member.module.js"></script>
<script src="/static/resources/js/components/project-member/project-member.config.js"></script>
<script src="/static/resources/js/components/project-member/add-project-member.directive.js"></script>
<script src="/static/resources/js/components/project-member/switch-role.directive.js"></script>
<script src="/static/resources/js/components/project-member/list-project-member.directive.js"></script>
<script src="/static/resources/js/components/project-member/edit-project-member.directive.js"></script>

<script src="/static/resources/js/components/user/user.module.js"></script>
<script src="/static/resources/js/components/user/list-user.directive.js"></script>
<script src="/static/resources/js/components/user/toggle-admin.directive.js"></script>

<script src="/static/resources/js/components/log/log.module.js"></script>
<script src="/static/resources/js/components/log/log.config.js"></script>
<script src="/static/resources/js/components/log/list-log.directive.js"></script>
<script src="/static/resources/js/components/log/advanced-search.directive.js"></script>


<script src="/static/resources/js/components/replication/replication.module.js"></script>
<script src="/static/resources/js/components/replication/list-replication.directive.js"></script>
<script src="/static/resources/js/components/replication/create-policy.directive.js"></script>

<script src="/static/resources/js/components/system-management/system-management.module.js"></script>
<script src="/static/resources/js/components/system-management/system-management.directive.js"></script>
<script src="/static/resources/js/components/system-management/destination.directive.js"></script>
<script src="/static/resources/js/components/system-management/create-destination.directive.js"></script>
<script src="/static/resources/js/components/system-management/replication.directive.js"></script>
<script src="/static/resources/js/components/system-management/configuration.directive.js"></script>


<script src="/static/resources/js/components/summary/summary.module.js"></script>
<script src="/static/resources/js/components/summary/summary.directive.js"></script>

<script src="/static/resources/js/components/user-log/user-log.module.js"></script>
<script src="/static/resources/js/components/user-log/user-log.directive.js"></script>

<script src="/static/resources/js/components/top-repository/top-repository.module.js"></script>
<script src="/static/resources/js/components/top-repository/top-repository.directive.js"></script>

<script src="/static/resources/js/components/loading-progress/loading-progress.module.js"></script>
<script src="/static/resources/js/components/loading-progress/loading-progress.directive.js"></script>

<script src="/static/resources/js/components/inline-help/inline-help.module.js"></script>
<script src="/static/resources/js/components/inline-help/inline-help.directive.js"></script>

<script src="/static/resources/js/components/dismissable-alerts/dismissable-alerts.module.js"></script>
<script src="/static/resources/js/components/dismissable-alerts/dismissable-alerts.directive.js"></script>

<script src="/static/resources/js/components/paginator/paginator.module.js"></script>
<script src="/static/resources/js/components/paginator/paginator.directive.js"></script>