<div class="modal fade" data-backdrop="static" id="createDestinationModal" tabindex="-1"  role="dialog">
  <div class="modal-dialog">
    <form name="form" class="form-horizontal css-form" novalidate>     
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;//vm.modalTitle//</h4>
        </div>
        <div class="modal-body">
          <div class="create-destination">
            <div class="form-group col-md-12 form-group-custom">
              <label for="name" class="col-md-3 control-label">// 'name' | tr //:</label>
              <div class="col-md-9">
                <input type="text" class="form-control form-control-custom" id="name" ng-model="destination.name" name="uName" required ng-disabled="!vm.editable">                 
                <div ng-messages="form.$submitted && form.uName.$error">
                  <span ng-message="required">// 'name_is_required' | tr //</span>
                </div>
              </div> 
            </div>
            <div class="form-group col-md-12 form-group-custom">
              <label for="description" class="col-md-3 control-label">// 'endpoint' | tr //:</label>
              <div class="col-md-9">
                <input type="text" class="form-control form-control-custom" id="endpoint" ng-model="destination.endpoint" name="uEndpoint" required ng-disabled="!vm.editable">              
                <div ng-messages="form.$submitted && form.uEndpoint.$error">
                  <span ng-message="required">// 'endpoint_is_required' | tr //</span>
                </div>
              </div>
            </div>          
            <div class="form-group col-md-12 form-group-custom">
              <label for="username" class="col-md-3 control-label">// 'username' | tr //:</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="username" ng-model="destination.username" name="uUsername" ng-disabled="!vm.editable">                 
              </div> 
            </div>
            <div class="form-group col-md-12 form-group-custom">
              <label for="password" class="col-md-3 control-label">// 'password' | tr //:</label>
              <div class="col-md-9">
                <input type="password" class="form-control" id="password" ng-model="destination.password" name="uPassword" ng-disabled="!vm.editable">                 
              </div> 
            </div>
            <div class="form-group col-md-12 form-group-custom">
              <div class="col-md-3"></div>
              <div class="col-md-9">
              <button type="submit" class="btn btn-default" ng-disabled="vm.notAvailable || !vm.pingAvailable" ng-click="form.$valid && vm.pingDestination()">// 'test_connection' | tr //</button>
              </div>
            </div>
            <div class="form-group col-md-12 form-group-custom">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <span>// vm.pingMessage //</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-show="vm.editable" type="submit" class="btn btn-primary" id="btnOk" ng-click="vm.save(destination)">// 'ok' | tr //</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">// 'close' | tr //</button>
        </div>
      </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
