.margin-left-override {
    margin-left: 24px !important;
}

.about-version {
    font-size: 14px;
    color: #565656;
    font-weight: 500;
}

.about-build {
    font-size: 14px;
    color: #565656;
}