.container-custom {
  position: relative;
  height: 100%;
}

.extend-height {
  height: 100%;
  min-height: 680px;
  overflow-y: auto;
  margin-bottom: 30px;
}

.section {
  position: relative;
  padding: 15px 15px 0;
  margin: 20px 0 20px 0;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
 
  max-height: 680px;

}

.search-pane {
  margin: 0 10px 0 10px;
  height: 3em;
}


.table>tbody>tr>td, .table>tbody>tr>th {
  vertical-align: middle;
}

.gutter {
  margin: 0 1em 0 1em;
}

.project-pane {
  margin: 0 10px 0 10px;
}

.pane {
  height: 520px;
}

.sub-pane {
  margin: 0 10px 0 10px;
  height: 85%;
  overflow-y: auto;
}

.well-custom {
  margin-top: 10px;
}