.action-head-pos {
  padding-right: 18px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.refresh-btn {
  cursor: pointer;
  margin-top: 7px;
}
.clr-icon {
  color: #0079b8;
  margin-top: 0;
}
.color-b {
  color: #bbb;
}
.margin-left-5 {
  margin-left: 5px;
}
.width-240 {
  min-width: 240px !important;
}
