.action-head-pos {
  padding-right: 18px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
}
.filterTag {
  float: left;
  margin-top: 8px;
}
.refresh-btn {
  cursor: pointer;
  margin-top: 7px;
}
.clr-icon {
  color: #0079b8;
  margin-top: 0;
}
.color-b {
  color: #bbb;
}
.margin-left-5 {
  margin-left: 5px;
}
