<div class="grid-content" (scroll)="onScroll($event)">
    <div class="items" [ngStyle]="itemsHolderStyle" #itemsHolder>
        @for (item of items; track trackByFn(i, item); let i = $index) {
        <span
            class="card-item"
            [ngStyle]="cardStyles[i]"
            #cardItem
            (mouseenter)="onCardEnter(i)"
            (mouseleave)="onCardLeave(i)">
            <ng-template
                [ngTemplateOutlet]="gridItemTmpl"
                [ngTemplateOutletContext]="{ item: item }">
            </ng-template>
        </span>
        } @if (items.length === 0 && !loading) {
        <span class="content-empty">
            {{ 'REPOSITORY.NO_ITEMS' | translate }}
        </span>
        }
    </div>
    @if (loading) {
    <div
        [ngClass]="{
            'central-block-loading': isFirstPage,
            'central-block-loading-more': !isFirstPage
        }">
        <span class="vertical-helper"></span>
        <div class="spinner"></div>
    </div>
    }
</div>
