<clr-tooltip>
    <label
        clrTooltipTrigger
        class="label"
        title="{{ label.name }}"
        [ngStyle]="{
            'background-color': labelColor?.color,
            color: labelColor?.textColor,
            border:
                labelColor?.color === '#FFFFFF' ? '1px solid #A1A1A1' : 'none'
        }"
        [style.max-width.px]="labelWidth">
        <span>
            @if (hasIcon && label.scope === 'p') {
            <clr-icon shape="organization"></clr-icon>
            } @if (hasIcon && label.scope === 'g') {
            <clr-icon shape="administrator"></clr-icon>
            }
        </span>
        <span class="label-name">{{ label.name }}</span>
    </label>
    @if (withTooltip && label.description) {
    <clr-tooltip-content [clrPosition]="'right'">
        <span>{{ label.description }}</span>
    </clr-tooltip-content>
    }
</clr-tooltip>
