$row-height: 48px;

.sub-header-title {
  padding: 0 !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 32%;
  min-width: 20rem;
  flex-grow:0;
  flex-shrink:0;
  height: 17rem;
}

.card:not(:last-child) {
  margin-right: 1rem;
}

.placeholder {
  position: relative;
  width: 100%;
}

.pie-chart {
  position: absolute;
  top: -6rem;
  width: 100%;
  height: 200px;
}

.column {
  font-size: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-bar-container {
  position: relative;
  height: $row-height;
  width: 60px;
}

.card-header {
  height: 4rem;
}

.row {
  height: $row-height;
}

.search {
  display: flex;
  align-items: center;
}

.label-critical {
  background:#ff4d2e;
  color:#000;
}

.label-danger {
  background:#ff8f3d!important;
  color:#000!important;
}

.label-medium {
  background-color: #ffce66;
  color:#000;
}

.label-low {
  background: #fff1ad;
  color:#000;
}

.label-none {
  background-color: #2ec0ff;
  color:#000;
}

.no-border {
  border: none;
}

.clr-col {
  min-width: 0;
}

.page-title-tooltip {
  margin-left: 5px;
  margin-top: -2px;
}

.h2 {
  display: flex;
  align-items: center;
}
