clr-datagrid {
    ::ng-deep .datagrid {
        margin-top: 0;
    }
}

.row {
    margin-top: 12px;
}
.flex-items-xs-between{
    display: flex;
}
.modeSelectradios {
    margin-top: 21px;
}
.filterTool {
    position: relative;
    z-index: 100;
    right: 15px;
}