.link-normal {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 10rem;
    text-transform: unset;
}

.action-bar {
    display: flex;
    justify-content: right;
}

.refresh-btn {
    margin-right: 1rem;
}

.action-bar-worker {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre {
    min-width: 25rem;
}
