@mixin icon-span {
    width: 12px;
    min-height: 12px;
}

.filter-div {
    margin-left: 9px;
    margin-bottom: 12px;
}
.cur-pointer {
    cursor: pointer;
}
.label-items-container {
    max-height: 300px;
    overflow-y: auto;

    .dropdown-item {
        padding-left: 12px;
        padding-right: 12px;

        .x-label-span {
            @include icon-span();
            float: right;
        }

        .check-label-span {
            @include icon-span();
            float: left;
            margin-right: 9px;
        }
    }

}