.progress-size-small {
    height: 0.5em !important;
}

.visibility-hidden {
    visibility: hidden;
}

.forgot-password-link {
    position: relative;
    line-height: 36px;
    font-size: 14px;
    float: right;
    top: -5px;
}

.tm-font {
    font-size: 14px !important;
    position: relative;
    top: -9px;
}

.bg {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.login-wrapper {
    flex-wrap: wrap;

    .login {
        background: transparent;

        .login-group {
            .clr-form-control .error {
                display: flex;
                border: none;
                background: none;
                color: var(--clr-forms-invalid-text-color);
                padding: var(--clr-base-vertical-offset-m) 0;

                &::before {
                    content: none;
                }
            }
        }
    }
}

.reset-label {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pw-eye {
    margin-left: -20px;
    margin-right: 8px;
    cursor: pointer;
}

.pwd-input {
    padding-right: 26px;
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    margin: 0;
    width: 8.5rem;
}
/* stylelint-disable no-descending-specificity */
.login {
    padding-bottom: 180px;
}

.back-icon {
    position: absolute;
    top: 1rem;
    display: flex;
    align-items: center;
    color: #007cbb;
    font-size: 16px;
    cursor: pointer;
}

.margin-left-3 {
    margin-left: 3px;
}

.title {
    width: 100%;
}

.more-info {
    text-align: right;
    padding-top: 2rem;
}

.oidc-login-button {
    text-transform: unset !important;
}

:host::ng-deep {
    .login-group {
        .clr-input {
            width: 100% !important;
            border: none !important;
            border-bottom: 1px solid var(--clr-forms-border-color) !important;
            background: none !important;
        }

        .clr-input-group {
            display: inline-block;
            width: 100%;
            border: none !important;
            background: none !important;
        }

        .clr-input:focus {
            border-bottom-color: var(--clr-forms-focused-color) !important;
        }

        .clr-error .clr-input {
            border-bottom-color: var(--clr-forms-invalid-color) !important;
        }

        .clr-success .clr-input {
            border-bottom-color: var(--clr-forms-valid-color) !important;
        }

        .clr-input:-webkit-autofill,
        .clr-input:-webkit-autofill:hover,
        .clr-input:-webkit-autofill:focus,
        .clr-input:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
            -webkit-text-fill-color: var(--clr-forms-text-color);
        }

        .clr-validate-icon {
            display: none;
        }
    }
}
