<clr-modal [(clrModalOpen)]="createEditPolicyOpened">
  <h3 class="modal-title">Add Policy</h3>
  <div class="modal-body">
    <form>
      <section class="form-block">
        <div class="form-group">
          <label for="policy_name" class="col-md-4">Name</label>
          <input type="text" class="col-md-8" id="policy_name" size="20"> 
        </div>
        <div class="form-group">
          <label for="policy_description" class="col-md-4">Description</label>
          <input type="text" class="col-md-8" id="policy_description" size="20"> 
        </div>
        <div class="form-group">
          <label class="col-md-4">Enable</label>
          <div class="checkbox-inline">
            <input type="checkbox" id="policy_enable">
            <label for="policy_enable"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="destination_name" class="col-md-4">Destination name</label>
          <div class="select">
            <select id="destination_name">
              <option>10.117.5.114</option>
              <option>10.117.5.61</option>
            </select>
          </div>
          <div class="checkbox-inline">
            <input type="checkbox" id="check_new">
            <label for="check_new">New destination</label>
          </div>
        </div>
        <div class="form-group">
          <label for="destination_url" class="col-md-4">Destination URL</label>
          <input type="text" class="col-md-8" id="destination_url" size="20">
        </div>
        <div class="form-group">
          <label for="destination_username" class="col-md-4">Username</label>
          <input type="text" class="col-md-8" id="destination_username" size="20">
        </div>
        <div class="form-group">
          <label for="destination_password" class="col-md-4">Password</label>
          <input type="text" class="col-md-8" id="destination_password" size="20">
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline">Test Connection</button>
      <button type="button" class="btn btn-outline" (click)="createEditPolicyOpened = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="createEditPolicyOpened = false">Ok</button>
  </div>
</clr-modal>