.cron-selection {
    display: flex;
    align-items: center;
}

.gc-start-btn {
    width: 150px;
    margin-top: 35px;
}

.flex-200 {
    flex: 0 0 200px;
    max-width: 200px;
}

.mt-05 {
    margin-top: 0.5rem;
}

.font-weight-400 {
    font-weight: 400;
}

.explain {
    font-weight: 100;
    font-size: 10px;
}

.center {
    justify-content: center;
    align-items: center;
}

.p-06 {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.worker-select {
    width: 4.5rem;
}
