<div class="tab-pane active" id="repositories" >
  <div class="col-xs-12 col-md-12 each-tab-pane">
    <div class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" ng-model="vm.filterInput" value="" size="30">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
      <div class="panel panel-default" ng-repeat="repo in vm.repositories | name: vm.filterInput : ''">
        <div class="panel-heading" role="tab" id="heading//$index + 1//" >
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="ng/repository#/repositories#collapse//$index + 1//" aria-expanded="true" aria-controls="collapse//$index + 1//" ng-click="vm.expand({repoName: repo})">
              <span class="glyphicon glyphicon-book"></span> //repo//
            </a>
          </h4>
        </div>
        <list-tag associate-id="$index + 1" repo-name="repo" tags="vm.tags"></list-tag>
      </div>
    </div>
  </div>
</div>