<div id="collapse//vm.associateId//" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading//vm.associateId//">
  <div class="panel-body">
    <table class="repository-table">
      <thead>
        <th width="20%"><span class="glyphicon glyphicon-tags"></span> Tag</th>
        <th width="30%">Image Details</th>
        <th width="40%">Pull Command</th>
        <th width="10%">Operation</th>
      </thead>
      <tbody>
        <tr ng-repeat="tag in vm.tags">
          <td>//tag//</td>
          <td><popup-details repo-name="//vm.repoName//" tag="//tag//"></popup-details></td>
          <td>
            <pull-command repo-name="//vm.repoName//" tag="//tag//"></pull-command>   
          </td>
          <td><a href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>