<div class="tab-pane active" id="repositories">
  <div class="col-xs-12 col-md-12 each-tab-pane">
    <div class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" value="//vm.info//" size="30">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              <span class="glyphicon glyphicon-book"></span> myrepo/ubuntu
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body">
            <table class="repository-table">
              <thead>
                <th width="20%"><span class="glyphicon glyphicon-tags"></span> Tag</th>
                <th width="30%">Image Details</th>
                <th width="40%">Pull Command</th>
                <th width="10%"></th>
              </thead>
              <tbody>
                <tr>
                  <td>latest</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/ubuntu:latest</td>
                  <td><a href="#">Copy</a></td>
                </tr>
                <tr>
                  <td>14.04</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/ubuntu:14.04</td>
                  <td><a href="#">Copy</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              <span class="glyphicon glyphicon-book"></span> myrepo/mysql
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body">
            <table class="repository-table">
              <thead>
                <th width="20%"><span class="glyphicon glyphicon-tags"></span> Tag</th>
                <th width="30%">Image Details</th>
                <th width="40%">Pull Command</th>
                <th width="10%"></th>
              </thead>
              <tbody>
                <tr>
                  <td>latest</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/mysql:latest</td>
                  <td><a href="#">Copy</a></td>
                </tr>
                <tr>
                  <td>5.6</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/mysql:5.6</td>
                  <td><a href="#">Copy</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="panel-heading" role="tab" id="heading3">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
              <span class="glyphicon glyphicon-book"></span> myrepo/nginx
            </a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
          <div class="panel-body">
            <table class="repository-table">
              <thead>
                <th width="20%"><span class="glyphicon glyphicon-tags"></span> Tag</th>
                <th width="30%">Image Details</th>
                <th width="40%">Pull Command</th>
                <th width="10%"></th>
              </thead>
              <tbody>
                <tr>
                  <td>latest</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/nginx:latest</td>
                  <td><a href="#">Copy</a></td>
                </tr>
                <tr>
                  <td>1.9</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/nginx:1.9</td>
                  <td><a href="#">Copy</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="panel-heading" role="tab" id="heading4">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
              <span class="glyphicon glyphicon-book"></span> myrepo/registry
            </a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body">
            <table class="repository-table">
              <thead>
                <th width="20%"><span class="glyphicon glyphicon-tags"></span> Tag</th>
                <th width="30%">Image Details</th>
                <th width="40%">Pull Command</th>
                <th width="10%"></th>
              </thead>
              <tbody>
                <tr>
                  <td>latest</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/registry:latest</td>
                  <td><a href="#">Copy</a></td>
                </tr>
                <tr>
                  <td>2.3</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/registry:2.3</td>
                  <td><a href="#">Copy</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        
        <div class="panel-heading" role="tab" id="heading5">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
              <span class="glyphicon glyphicon-book"></span> myrepo/alpine
            </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <div class="panel-body">
            <table class="repository-table">
              <thead>
                <th width="20%"><span class="glyphicon glyphicon-tags"></span> Tag</th>
                <th width="30%">Image Details</th>
                <th width="40%">Pull Command</th>
                <th width="10%"></th>
              </thead>
              <tbody>
                <tr>
                  <td>latest</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/alpine:latest</td>
                  <td><a href="#">Copy</a></td>
                </tr>
                <tr>
                  <td>1.2</td>
                  <td><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                  <td>docker pull myrepo/alpine:1.2</td>
                  <td><a href="#">Copy</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>