
.info-tips-icon {
    color: grey;
}

.info-tips-icon:hover {
    color: #007CBB;
}

clr-icon {
    color: grey;
    margin-top: -3px;
}

clr-icon:hover {
    color: #007CBB;
}

.clr-validate-icon {
    color: red;
}

.config-title {
    display: inline-block;
}

.tooltip-position {
    top: -7px;
}
.clr-form-control-disabled {
    opacity: 1;
}
.v-mid {
    vertical-align: middle;
}
