# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:

# Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "release-note/infra"
    assignees:
      - "OrlinVasilev"
    reviewers:
      - "OrlinVasilev"

  - package-ecosystem: "gomod"
    directory: "/src"
    schedule:
      interval: "weekly"
    labels:
      - "release-note/update"
  
  # More will be needed