<clr-modal [(clrModalOpen)]="addMemberOpened">
  <h3 class="modal-title">{{'MEMBER.NEW_MEMBER' | translate}}</h3>
  <div class="modal-body">
    <form #memberForm="ngForm">
      <section class="form-block">
        <clr-alert [clrAlertType]="'alert-danger'" [(clrAlertClosed)]="!errorMessageOpened" (clrAlertClosedChange)="onErrorMessageClose()">
          <div class="alert-item">
            <span class="alert-text">
              {{errorMessage}}
            </span>
          </div>
        </clr-alert>
        <div class="form-group">
          <label for="member_name" class="col-md-4">{{'MEMBER.NAME' | translate}}</label>
          <label for="member_name" aria-haspopup="true" role="tooltip" [class.invalid]="memberName.invalid && (memberName.dirty || memberName.touched)" [class.valid]="memberName.valid" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-right">
            <input type="text" id="member_name"  [(ngModel)]="member.username" name="name" size="20" #memberName="ngModel" required>
            <span class="tooltip-content" *ngIf="memberName.errors && memberName.errors.required && (memberName.dirty || memberName.touched)">
              Username is required.
            </span>
          </label>
        </div>
        <div class="form-group">
          <label class="col-md-4">{{'MEMBER.ROLE' | translate}}</label>
          <div class="radio">
            <input type="radio" name="roleRadios" id="checkrads_project_admin" (click)="member.role_id = 1" [checked]="member.role_id === 1">
            <label for="checkrads_project_admin">{{'MEMBER.PROJECT_ADMIN' | translate}}</label>
          </div>
          <div class="radio">
            <input type="radio" name="roleRadios" id="checkrads_developer"  (click)="member.role_id = 2" [checked]="member.role_id === 2">
            <label for="checkrads_developer">{{'MEMBER.DEVELOPER' | translate}}</label>
          </div>
          <div class="radio">
            <input type="radio" name="roleRadios" id="checkrads_guest" (click)="member.role_id = 3" [checked]="member.role_id === 3">
            <label for="checkrads_guest">{{'MEMBER.GUEST' | translate}}</label>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="addMemberOpened = false">{{'BUTTON.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">{{'BUTTON.OK' | translate}}</button>
  </div>
</clr-modal>
