harbor
make/common/config/registry/*
make/common/config/ui/*
make/common/config/db/*
make/common/config/jobservice/*
make/common/config/nginx/*
make/dev/ui/harbor_ui
make/dev/jobservice/harbor_jobservice
src/ui/ui
src/jobservice/jobservice
*.pyc
jobservice/test
