$thirty-pixel: 30px;
$twenty-two-pixel: 22px;

.bar-wrapper {
    width: 144px;
    height: 12px;
}

.bar-state {
    text-align: center;
    .unknow-text {
        margin-left: -5px;
    }
}

.bar-state-chart {
    margin-top: 2px;
    .loop-height {
        height: 2px;
    }
}

.bar-state-error {
    position: relative;
    top: -4px;
}

.error-text {
    position: relative;
    top: 1px;
    margin-left: -5px;
    cursor: pointer;
}

.scanning-button {
    height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    top: -12px;
    position: relative;
}

.tip-wrapper {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
}

.bar-block-critical {
    background-color: red;
}

.bar-block-high {
    background-color: #e64524;
}

.bar-block-medium {
    background-color: orange;
}

.bar-block-low {
    background-color: #007CBB;
}

.bar-block-none {
    background-color: green;
}

.bar-block-unknown {
    background-color: grey;
}

.bar-tooltip-font {
    font-size: 13px;
    color: #ffffff;
}

.bar-tooltip-font-title {
    font-weight: 600;
}

.bar-summary {
    margin-top: 12px;
    text-align: left;
}

.bar-scanning-time {
    margin-top: 12px;
}

.bar-summary-item {
    margin-top: 3px;
    margin-bottom: 3px;
    span {
        :nth-child(1) {
            width: $thirty-pixel;
            text-align: center;
            display: inline-block;
        }
        :nth-child(2) {
            width: 28px;
            display: inline-block;
        }
    }
}

.option-right {
    padding-right: 16px;
}

.refresh-btn {
    cursor: pointer;
    :hover {
        color: #007CBB;
    }
}

.label.label-medium {
    background-color: #ffe4a9;
    border: 1px solid orange;
    color: orange;
}

.tip-icon-medium {
    color: orange;
}

.label.label-low {
    background: rgba(251, 255, 0, 0.38);
    color: #c5c50b;
    border: 1px solid #e6e63f;
}

.tip-icon-low {
    color: #007CBB;
}

.font-color-green {
    color: green;
}

.bar-tooltip-font-larger {
    span {
        font-size: 16px;
        vertical-align: middle
    }
}

hr {
    border-bottom: 0;
    border-color: #aaa;
    margin: 6px -10px;
}

.font-weight-600 {
    font-weight: 600;
}

.result-row {
    position: relative;
}

.help-icon {
    margin-left: 3px;
}

.ml-3px {
    margin-left: 3px;
}

.shadow-critical {
    box-shadow: 1px -1px 1px red;
}

.shadow-high {
    box-shadow: 1px -1px 1px #e64524;
}

.shadow-medium {
    box-shadow: 1px -1px 1px orange;
}

.shadow-low {
    box-shadow: 1px -1px 1px #007CBB;
}

.shadow-none {
    box-shadow: 1px -1px 1px green;
}

.shadow-unknown {
    box-shadow: 1px -1px 1px gray;
}

.w-360 {
    width: 360px !important;
}

.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}

.width-30 {
    width: $thirty-pixel;
}

.width-215 {
    width: 215px;
}

.width-150 {
    width: 150px;
}

.level-border>div{
    display: inline-flex;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    height: $thirty-pixel;
    width: $thirty-pixel;
    line-height: $thirty-pixel;
}

.inner {
    margin: auto;
    height: $twenty-two-pixel;
    width: $twenty-two-pixel;
    line-height: $twenty-two-pixel;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
}

.level-critical {
    background:red;
    color:red;
}
.level-high {
    background:#e64524;
    color:#e64524;
}
.level-medium {
    background-color: orange;
    color:orange;
}
.level-low {
    background: #007CBB;
    color:#007CBB;
}
.level-negligible {
    background-color: green;
    color:green;
}
.level-unknown {
    background-color: grey;
    color:grey;
}
.black-point-container {
    display: inline-block;
    position: relative;
    height: 6px;
}
.black-point {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.font-weight-800 {
    font-weight: 800;
}
.color-green {
    color: green;
}
.tip-block {
    position: relative;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-12 {
    font-size: 12px;
}
.margin-right-5 {
    margin-right: 5px;
}