@import "../../lib/mixin";
.header-title {
    margin-top: 0;
}

.option-left {
    padding-left: 16px;
}

.display-flex{
    display: flex;
    align-items: baseline;
}

.refresh-btn {
    cursor: pointer;
}

.refresh-btn:hover {
    color: #007CBB;
}
.rightPos {
    @include grid-right-top-pos;
}

.projectPos {
    padding-left: 15px;
    padding-right: 15px;
}
.position-r{
    position: relative;
}