@import "../../../lib/src/mixin";
.header-title {
    margin-top: 0;
}

.option-left {
    padding-left: 16px;
}

.option-right {
    padding-right: 16px;
    .select-option {
        float: left;
        left: -6px;
        top: 8px;
    }
}

.refresh-btn {
    cursor: pointer;
}

.refresh-btn:hover {
    color: #007CBB;
}
.rightPos {
    @include grid-right-top-pos;
}

.projectPos {
    padding-left: 15px;
    padding-right: 15px;
}
.position-r{
    position: relative;
}