<div class="arrow-block" *ngIf="!withAdmiral">
    <a class="pl-0" (click)="goBackPro()">{{'SIDE_NAV.PROJECTS'| translate}}</a>
    <span class="back-icon"><</span>
    <a (click)="goBackRep()">{{'REPOSITORY.REPOSITORIES'| translate}}</a>
    <span class="back-icon"><</span>
    <a (click)="goBack()">{{repositoryName}}</a>

    <span *ngFor="let digest of referArtifactNameArray;let i = index">
                    &lt;<a (click)="jumpDigest(i)" >{{digest | slice:0:15}}</a></span>
</div>

<div class="title-wrapper">
    <div class="title-block arrow-block" *ngIf="withAdmiral">
        <clr-icon class="rotate-90 arrow-back" shape="arrow" size="36" (click)="onBack()"></clr-icon>
    </div>
    <div class="title-block">
        <h2 class="custom-h2 center-align-items">
            <img *ngIf="artifact?.type !== 'IMAGE';else elseBlock" class="artifact-icon" [title]="artifact.type"
                 [src]="artifact.type | selectArtifactIcon" />
            <ng-template #elseBlock>
                <clr-tooltip>
                    <div clrTooltipTrigger class="level-border">
                        <img class="artifact-icon" [title]="artifact.type"
                             [src]="artifact.type | selectArtifactIcon" />
                    </div>
                    <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                        <span>Docker and the Docker logo are trademarks or registered trademarks of Docker, Inc. in the United States and/or other countries.</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </ng-template>
            <span class="margin-left-10px">{{artifact?.digest | slice:0:15}}</span>
            <clr-icon size="25" *ngIf="artifact?.references && artifact?.references?.length" class="icon-folder margin-left-10px" shape="folder"></clr-icon>
        </h2>
    </div>
</div>
<ng-container *ngIf="!loading">
    <!-- tags -->
    <artifact-tag [artifactDetails]="artifact" [projectName]="projectName" [projectId]="projectId" [repositoryName]="repositoryName"
                  ></artifact-tag>

    <!-- Overview -->
    <artifact-common-properties [artifactDetails]="artifact"></artifact-common-properties>

    <!-- Additions -->
    <artifact-additions [artifact]="artifact"
            [projectName]="projectName"
            [projectId]="projectId"
            [repoName]="repositoryName"
            [digest]="artifactDigest"
                        [additionLinks]="artifact?.addition_links"></artifact-additions>
</ng-container>
<div *ngIf="loading" class="clr-row mt-3 center">
    <span class="spinner spinner-md"></span>
</div>

