.side-nav-override {
    box-shadow: 6px 0px 0px 0px #ccc;
}

.container-override {
    position: relative !important;
}
.content-container{
    position: relative;
}

.start-content-padding {
    padding: 0px !important;
    background-color: white;
    overflow-y: hidden !important;
}

.content-area-override {
    padding-left: 36px !important;
    padding-bottom: 36px !important;
    padding-right: 21px !important;
}

.nav-link-override {
    width: 126px !important;
}

clr-vertical-nav {
    ::ng-deep {
        .nav-content {
            display: flex;
            justify-content: space-between;
        }
    }
    .vertical-nav-footer {
        margin: 5px 23px;
        a {
            display: inline-block;
            line-height: 0;
            padding: 0;
            height: 24px;
            &:hover {
                background: transparent;
                cursor: default;
            }
            .api-button {
                margin: 0;
            }
        }
	}
}
.font-size-13 {
    font-size: 13px;
}

.scanner-info {
    margin-right: 0;
    margin-left: 0;
    background-color: #0079b8;
    height: 2rem;
    color: #fff;
    align-items: center;
    font-size: 0.5rem;
    a {
        cursor: pointer;
        text-decoration: #bababa underline;
        font-weight: 600;
    }
    a:hover, a:visited, a:link {
        color: #fff;
    }
}
.all-scanners {
   margin-right: 1.5rem;
}
.close-icon {
   margin-right: 1rem;
}
.ml-05 {
    margin-left: 0.5rem;
}
.right {
    text-align: right;
}

.theme-select {
    width: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    clr-icon {
        position: static;
        transform: none;
        margin-right: .2rem;
        min-width: 20px;
    }
}