.side-nav-override {
    box-shadow: 6px 0px 0px 0px #ccc;
}

.container-override {
    position: relative !important;
}
.content-container{
    position: relative;
}

.start-content-padding {
    padding: 0px !important;
    background-color: white;
    overflow-y: hidden !important;
}

.content-area-override {
    padding-left: 36px !important;
    padding-bottom: 36px !important;
    padding-right: 21px !important;
}

.nav-link-override {
    width: 126px !important;
}

clr-vertical-nav {
    ::ng-deep {
        .nav-content {
            display: flex;
            justify-content: space-between;
        }
    }
}
.font-size-13 {
    font-size: 13px;
}

.scanner-info {
    margin-right: 0;
    margin-left: 0;
    background-color: #0079b8;
    min-height: 2rem;
    color: #fff;
    align-items: center;
    font-size: 0.5rem;
    a {
        cursor: pointer;
        text-decoration: #bababa underline;
        font-weight: 600;
    }
    a:hover, a:visited, a:link {
        color: #fff;
    }
}
.all-scanners {
   margin-right: 1.5rem;
}
.close-icon {
   margin-right: 1rem;
}
.ml-05 {
    margin-left: 0.5rem;
}
.right {
    text-align: right;
}
