<clr-datagrid (clrDgRefresh)="refresh($event)">
    <clr-dg-column>{{'REPOSITORY.NAME' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.TAGS_COUNT' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.PULL_COUNT' | translate}}</clr-dg-column>
    <clr-dg-row *ngFor="let r of repositories" [clrDgItem]='r'>
        <clr-dg-cell><a href="javascript:void(0)" (click)="gotoLink(projectId || r.project_id, r.name || r.repository_name)">{{r.name || r.repository_name}}</a></clr-dg-cell>
        <clr-dg-cell>{{r.tags_count}}</clr-dg-cell>
        <clr-dg-cell>{{r.pull_count}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        {{totalRecordCount || (repositories ? repositories.length : 0)}} {{'REPOSITORY.ITEMS' | translate}}
        <clr-dg-pagination [clrDgPageSize]="pageOffset" [clrDgTotalItems]="totalPage"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>