@mixin icon-span {
    width: 16px;
    height: 16px;

    clr-icon {
        margin-bottom: 3px;
    }
}

@mixin flex-item {
    display: inline-block;
}

.filter-div {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 9px;
}

.label-items-container {
    max-height: 300px;
    overflow-y: auto;

    .dropdown-item {
        padding-left: 12px;
        padding-right: 12px;

        .mark-label-div {
            @include icon-span();
            @include flex-item();
            float: left;
            margin-right: 9px;
        }

        .spinner {
            @include flex-item();
        }

        .label-div {
            @include flex-item();

            margin-top: 4px;
        }

        .unmark-label-div {
            @include icon-span();
            @include flex-item();
            float: right;
        }
    }
}