<modal-dialog modal-title="// vm.modalTitle //" modal-message="// vm.modalMessage //" confirm-only="vm.confirmOnly" action="vm.action()"></modal-dialog>
<div class="tab-pane" id="logs" element-height>
  <div class="col-xs-12 col-md-12 each-tab-pane">
    <div class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" ng-model="vm.username" size="30">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="vm.search({op: vm.op, username: vm.username})"><span class="glyphicon glyphicon-search"></span></button>
        </span>
        <span class="input-group-btn">
          <button class="btn btn-link" type="button" ng-click="vm.showAdvancedSearch()">// 'advanced_search' | tr //</button>
        </span>
      </div>
    </div>
    <advanced-search ng-show="vm.isOpen" is-open="vm.isOpen" op="vm.op" others="vm.others" search='vm.search({op: vm.op, username: vm.username})' from-date="vm.fromDate" to-date="vm.toDate"></advanced-search>
    <div class="pane">
      <div class="sub-pane">
        <div class="table-head-container">
          <table class="table table-pane table-header">
            <thead>
              <th width="14%">// 'username' | tr //</th>
              <th width="32%">// 'repository_name' | tr //</th>
              <th width="14%">// 'operation' | tr //</th>
              <th width="40%">// 'timestamp' | tr //</th>
            </thead>
          </table>
        </div>
        <div class="table-body-container">
          <table class="table table-pane">
            <tbody>
              <tr ng-repeat="log in vm.logs">
                <td width="14%">//log.username//</td><td width="32%">//log.repo_name//</td><td width="14%">//log.operation//</td><td width="40%">//log.op_time | dateL : 'YYYY-MM-DD HH:mm:ss'//</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
