<div class="container-fluid container-fluid-custom" ng-controller="AdminOptionController as vm">
  <div class="container container-custom">
    <div class="row extend-height">
      <div class="col-xs-12 col-md-12">
  	    <div class="section">
  		    <h4 class="page-header">
            <span ng-if="!vm.toggle">// 'users' | tr //</span>
            <a ng-if="vm.toggle" href="#" ng-click="vm.toggleAdminOption()">// 'users' | tr //</a>
            <span class="gutter">|</span>
            <span ng-if="vm.toggle">// 'system_management' | tr //</span>
            <a ng-if="!vm.toggle" href="#/destinations" class="title-color" ng-click="vm.toggleAdminOption()">// 'system_management' | tr //</a>
          </h4> 
          <list-user ng-if="!vm.toggle"></list-user>
          <system-management ng-if="vm.toggle"></system-management>
        </div>
      </div>
    </div>
  </div>
</div>