<div class="container-fluid container-fluid-custom" ng-controller="DashboardController as vm">
  <div class="container">
    <div class="row row-custom">
	    <div class="col-xs-4 col-md-4"> 
	      <div class="row">
	        <div class="up-section">
  		        <project-Summary></project-Summary>
          </div>
        </div>						
      </div>
      <div class="col-xs-8 col-md-8">
	      <div class="up-section">	
            <top-Repository></top-Repository>
		    </div>
	    </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-custom">
      <div class="col-xs-12 col-md-12">
	      <div class="down-section">
	          <user-Log></user-Log>
          </div>
        </div>						
	    </div>
    </div>
  </div>
</div>