<div class="container-fluid container-fluid-custom" ng-controller="ProjectController">
  <div class="container container-custom">
    <div class="row extend-height">
      <div class="col-xs-12 col-md-12 extend-height">
  	      <div class="section">
  		      <h4 class="page-header">My Projects<span class="gutter">|</span><a href="#" class="title-color">Public Projects</a></h4>
          <div class="search-pane">
    		      <div class="form-inline">
    		        <div class="input-group">
    		          <input type="text" class="form-control" placeholder="" ng-model="inputProjectName" size="30">
    		          <span class="input-group-btn">
    		            <button class="btn btn-primary" type="button" ng-click="searchProject()"><span class="glyphicon glyphicon-search"></span></button>
    		          </span>
    		        </div>
    		        <button class="btn btn-success" type="button" ng-click="showAddProject()"><span class="glyphicon glyphicon-plus"></span>New Project</button>
    		      </div>    
          </div>
          <div class="pane project-pane">  
            <add-project ng-show="isOpen" is-open="isOpen"></add-project>
            <div class="sub-pane">
      		      <list-project project-name="inputProjectName"></list-project>
            </div>
            <div class="col-xs-4 col-md-12 well well-sm well-custom"><div class="col-md-offset-10">7 items</div></div>  
          </div>
  	      </div>
      </div>
    </div>
  </div>
</div>