<div class="container-fluid container-fluid-custom">
  <div class="container container-custom">
    <div class="row extend-height">
  	  <div class="col-xs-12 col-md-12 extend-height">
  	    <div class="section"> 
  		    <h4 class="page-header">My Projects<span class="gutter">|</span><a href="#" class="title-color">Public Projects</a></h4>
  		    <div class="switch-pane">
            <switch-pane-projects open="vm.open" project-name="myproject"></switch-pane-projects>
            <span>
              <navigation-details visible="vm.open"></navigation-details>
            </span>
  		    </div>
          <retrieve-projects visible="vm.open"></retrieve-projects>
          <!-- Tab panes -->
  		    <div class="tab-content">
           <ng-view></ng-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>