<div class="container-fluid container-fluid-custom" ng-controller="DetailsController as vm">
  <div class="container container-custom">
    <div class="row extend-height">
    	  <div class="col-xs-12 col-md-12">
    	    <div class="section"> 
    		    <h4 class="page-header">
            <span ng-show="!vm.publicity">// 'my_projects' | tr //</span>
            <a ng-show="vm.publicity" href="#/repositories?project_id=//vm.selectedProject.ProjectId//" class="title-color" ng-click="vm.togglePublicity({publicity: false})">// 'my_projects' | tr //</a>
            <span class="gutter">|</span>
            <span ng-show="vm.publicity">// 'public_projects' | tr //</span>
            <a ng-show="!vm.publicity" href="#/repositories?project_id=//vm.selectedProject.ProjectId//" class="title-color" ng-click="vm.togglePublicity({publicity: true})">// 'public_projects' | tr //</a></h4>
    		    <div class="switch-pane">
              <switch-pane-projects is-open="vm.isOpen" selected-project="vm.selectedProject"></switch-pane-projects>
              <span> 
                <navigation-details target="vm.target"></navigation-details>
              </span>
    		    </div>
            <retrieve-projects is-open="vm.isOpen" selected-project="vm.selectedProject" is-project-member="vm.isProjectMember" publicity="vm.publicity"></retrieve-projects>
            <!-- Tab panes -->
    		    <div class="tab-content" ng-click="vm.closeRetrievePane()">
              <input type="hidden" id="HarborRegUrl" value="{{.HarborRegUrl}}">
              <list-repository ng-if="vm.target === 'repositories'"></list-repository>
              <list-replication ng-if="vm.target === 'replication'"></list-replication>
              <list-project-member ng-if="vm.target === 'users'"></list-project-member>
              <list-log ng-if="vm.target === 'logs'"></list-log>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>