<div class="container-fluid container-fluid-custom" ng-controller="ResetPasswordController as vm">
  <div class="container container-custom">
    <div class="row extend-height">
	    <div class="section">
		    <h1 class="col-md-12 col-md-offset-2 main-title title-color">Reset Password</h1>
        <div class="row">
          <div class="col-md-12 col-md-offset-2 main-content">
            <form name="form" class="form-horizontal css-form" ng-submit="form.$valid && vm.resetPassword(user)" novalidate>
              <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password:</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" id="password" ng-model="user.password" ng-model-options="{ updateOn: 'blur' }" name="uPassword" required password>
                  <p class="help-block small-size-fonts">At least 7 characters with 1 lowercase letter, 1 capital letter and 1 numeric character.</p>
                </div>
                <div class="col-sm-2">
                  <span class="asterisk">*</span>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password:</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" id="confirmPassword" ng-model="user.confirmPassword" ng-model-options="{ updateOn: 'blur' }" name="uConfirmPassword" compare-to="user.password">
                </div>
                <div class="col-sm-2">
                  <span class="asterisk">*</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-7 col-md-10">
                  <input type="submit" class="btn btn-default" ng-click="vm.cancel()" value="Cancel">
                  <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid" value="Save">                    
                </div>
              </div>  
              <div class="error-message">
                <div ng-messages="form.$dirty && form.uPassword.$error">
                  <span ng-message="required">New password is required.</span>
                  <span ng-message="password">New password is invalid.</span>
                </div>
                <div class="error-message" ng-messages="form.$dirty && form.uConfirmPassword.$error">
                  <span ng-message="compareTo">Confirm password mismatch.</span>
                </div>
              </div>
            </form>
         </div>            
      </div>
    </div>
  </div>
</div>