<div class="row" style="margin-top: 24px;position: relative;">
    <div>
        <div class="row flex-items-xs-between rightPos">
            <div class="flex-xs-middle option-left" style="position: relative; top: 10px;">
            </div>
            <div class="flex-xs-middle option-right">
                <hbr-filter [withDivider]="true" filterPlaceholder='{{"MEMBER.FILTER_PLACEHOLDER" | translate}}' (filter)="doSearch($event)" [currentValue]="searchMember"></hbr-filter>
                <span class="refresh-btn" (click)="refresh()">
                    <clr-icon shape="refresh"></clr-icon>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <clr-datagrid [(clrDgSelected)]="selectedRow" (clrDgSelectedChange)="SelectedChange()">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <clr-button-group [clrMenuPosition]="'bottom-right'" >
                        <clr-button class="btn btn-sm btn-secondary" (click)="openAddMemberModal()" [disabled]="!hasProjectAdminRole">{{'MEMBER.NEW_MEMBER' | translate }}</clr-button>
                        <clr-button class="btn btn-sm btn-secondary" (click)="deleteMembers(selectedRow)" [disabled]="!(selectedRow.length && hasProjectAdminRole)">{{'MEMBER.DELETE' | translate}}</clr-button>
                        <clr-button class="btn btn-sm btn-secondary" [clrInMenu]="true" (click)="changeRole(selectedRow, 1)" [disabled]="!(selectedRow.length && hasProjectAdminRole)">{{'MEMBER.PROJECT_ADMIN' | translate}}</clr-button>
                        <clr-button class="btn btn-sm btn-secondary" [clrInMenu]="true" (click)="changeRole(selectedRow, 2)" [disabled]="!(selectedRow.length && hasProjectAdminRole)">{{'MEMBER.DEVELOPER' | translate}}</clr-button>
                        <clr-button class="btn btn-sm btn-secondary" [clrInMenu]="true" (click)="changeRole(selectedRow, 3)" [disabled]="!(selectedRow.length && hasProjectAdminRole)">{{'MEMBER.GUEST' | translate}}</clr-button>
                    </clr-button-group>
                </div>
            </clr-dg-action-bar>
            <clr-dg-column>{{'MEMBER.NAME' | translate}}</clr-dg-column>
            <clr-dg-column>{{'MEMBER.ROLE' | translate}}</clr-dg-column>
            <clr-dg-row *clrDgItems="let m of members"  [clrDgItem]="m">
                <clr-dg-cell>{{m.username}}</clr-dg-cell>
                <clr-dg-cell>{{roleInfo[m.role_id] | translate}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <span *ngIf="pagination.totalItems">{{pagination.firstItem + 1}} - {{pagination.lastItem +1 }} {{'MEMBER.OF' | translate}} </span>
                {{pagination.totalItems }} {{'MEMBER.ITEMS' | translate}}
                <clr-dg-pagination #pagination [clrDgPageSize]="15"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
    <add-member [projectId]="projectId" (added)="addedMember($event)"></add-member>
</div>