<clr-datagrid>
  <clr-dg-column>{{'PROJECT.NAME' | translate}}</clr-dg-column>
  <clr-dg-column>{{'PROJECT.PUBLIC_OR_PRIVATE' | translate}}</clr-dg-column>
  <clr-dg-column>{{'PROJECT.REPO_COUNT'| translate}}</clr-dg-column>
  <clr-dg-column>{{'PROJECT.CREATION_TIME' | translate}}</clr-dg-column>
  <clr-dg-column>{{'PROJECT.DESCRIPTION' | translate}}</clr-dg-column> 
  <clr-dg-row *clrDgItems="let p of projects" [clrDgItem]="p">
    <!--<clr-dg-action-overflow>
      <button class="action-item" (click)="onEdit(p)">Edit</button>
      <button class="action-item" (click)="onDelete(p)">Delete</button>
    </clr-dg-action-overflow>-->
    <clr-dg-cell><a [routerLink]="['/harbor', 'projects', p.project_id, 'repository']" >{{p.name}}</a></clr-dg-cell>
    <clr-dg-cell>{{ (p.public === 1 ? 'PROJECT.PUBLIC' : 'PROJECT.PRIVATE') | translate}}</clr-dg-cell>
    <clr-dg-cell>{{p.repo_count}}</clr-dg-cell>
    <clr-dg-cell>{{p.creation_time}}</clr-dg-cell>
    <clr-dg-cell>
      {{p.description}}
      <span style="float: right;">
        <action-project (togglePublic)="toggleProject($event)" (deleteProject)="deleteProject($event)" [project]="p"></action-project>
      </span>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{ (projects ? projects.length : 0) }} {{'PROJECT.ITEMS' | translate}}</clr-dg-footer>
</clr-datagrid>