<clr-modal [(clrModalOpen)]="ismodelOpen"  [clrModalClosable]="false">
    <h3 class="modal-title">{{'PROJECT.ALL_PROJECTS' | translate}}</h3>
    <inline-alert class="modal-title" ></inline-alert>
    <div class="modal-body">
    <div class="option-right">
        <div class="select" style="float: left; left:-6px; top:8px;">
            <select (change)="doFilterProject()" [(ngModel)]="selecteType">
                <option value="0" [selected]="currentFilteredType === 0">{{projectTypes[0] | translate}}</option>
                <option value="1">{{projectTypes[1] | translate}}</option>
                <option value="2">{{projectTypes[2] | translate}}</option>
            </select>
        </div>
        <hbr-filter [withDivider]="true" filterPlaceholder='{{"PROJECT.FILTER_PLACEHOLDER" | translate}}' (filter)="doSearchProject($event)" [currentValue]="projectName"></hbr-filter>
        <span class="refresh-btn" (click)="refresh()">
                <clr-icon shape="refresh"></clr-icon>
            </span>
    </div>

    <clr-datagrid (clrDgRefresh)="clrLoad($event)" [clrDgLoading]="loading"  [(clrDgSingleSelected)]="selectedProject">
        <clr-dg-row *ngFor="let project of projects; let i = index"  [clrDgItem]="project">
            <clr-dg-cell>{{project.name}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
            <span *ngIf="pagination.totalItems">{{pagination.firstItem + 1}} - {{pagination.lastItem +1 }} {{'PROJECT.OF' | translate}} </span> {{pagination.totalItems }} {{'PROJECT.ITEMS' | translate}}
            <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount"></clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModel()">{{'BUTTON.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-primary" [disabled]="!selectedProject" (click)="oKModel()">{{'BUTTON.OK' | translate}}</button>
</div>
</clr-modal>
