.global-message-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.alert-item {
    display: inline-block;
    text-align: center;
}
:host >>> .alert-icon-wrapper{
    display: inline;
}
:host >>> .alert.alert-app-level.alert-warning{padding: 0;}