<h1>{{'PROJECT.PROJECTS' | translate}}</h1>
<div class="row flex-items-xs-between">
  <div class="col-xs-4">
    <button class="btn btn-link" (click)="openModal()"><clr-icon shape="add"></clr-icon>{{'PROJECT.NEW_PROJECT' | translate}}</button>
    <create-project (create)="createProject($event)"></create-project>
  </div>
  <div class="col-xs-5 push-xs-1">
    <clr-dropdown [clrMenuPosition]="'bottom-left'">
      <button class="btn btn-sm btn-link" clrDropdownToggle>
        {{projectTypes[currentFilteredType] | translate}}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <a href="javascript:void(0)" clrDropdownItem (click)="doFilterProjects(0)">{{projectTypes[0] | translate}}</a>
        <a href="javascript:void(0)" clrDropdownItem (click)="doFilterProjects(1)">{{projectTypes[1] | translate}}</a>
      </div>
    </clr-dropdown>
    <grid-filter filterPlaceholder='{{"PROJECT.FILTER_PLACEHOLDER" | translate}}' (filter)="doSearchProjects($event)"></grid-filter>
    <a href="javascript:void(0)" (click)="refresh()"><clr-icon shape="refresh"></clr-icon></a>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <list-project [projects]="changedProjects" (toggle)="toggleProject($event)" (delete)="deleteProject($event)"></list-project>
  </div>
</div>