<h3>Projects</h3>
<div class="row flex-items-xs-between">
  <div class="col-xs-4">
    <button class="btn btn-link" (click)="openModal()"><clr-icon shape="add"></clr-icon>New Project</button>
    <button class="btn btn-link" (click)="deleteSelectedProjects()"><clr-icon shape="close"></clr-icon>Delete</button>
    <create-project (create)="createProject($event)" (openModal)="openModal($event)"></create-project>
  </div>
  <div class="col-xs-4">
    <clr-dropdown [clrMenuPosition]="'bottom-left'">
      <button class="btn btn-sm btn-link" clrDropdownToggle>
        {{projectTypes[currentFilteredType]}}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <a href="javascript:void(0)" clrDropdownItem (click)="doFilterProjects(0)">{{projectTypes[0]}}</a>
        <a href="javascript:void(0)" clrDropdownItem (click)="doFilterProjects(1)">{{projectTypes[1]}}</a>
      </div>
    </clr-dropdown>
    <input type="text" placeholder="Search for projects" #searchProject (keyup.enter)="doSearchProjects(searchProject.value)" >
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <clr-datagrid [(clrDgSelected)]="selected">
     <clr-dg-column>Name</clr-dg-column>
     <clr-dg-column>Public/Private</clr-dg-column>
     <clr-dg-column>Repositories</clr-dg-column>
     <clr-dg-column>Creation time</clr-dg-column>
     <clr-dg-column>Description</clr-dg-column> 
     <clr-dg-row *clrDgItems="let p of projects" [clrDgItem]="p" [(clrDgSelected)]="p.selected">
        <!--<clr-dg-action-overflow>
          <button class="action-item" (click)="onEdit(p)">Edit</button>
          <button class="action-item" (click)="onDelete(p)">Delete</button>
        </clr-dg-action-overflow>-->
       <clr-dg-cell><a [routerLink]="['/harbor', 'projects', p.project_id, 'repository']" >{{p.name}}</a></clr-dg-cell>
       <clr-dg-cell>{{p.public == 1 ? 'Public': 'Private'}}</clr-dg-cell>
       <clr-dg-cell>{{p.repo_count}}</clr-dg-cell>
       <clr-dg-cell>{{p.creation_time}}</clr-dg-cell>
       <clr-dg-cell>
         {{p.description}}
         <span style="float: right;">
           <action-project (togglePublic)="toggleProject($event)" (deleteProject)="deleteProject($event)" [project]="p"></action-project>
         </span>
       </clr-dg-cell>
     </clr-dg-row>
     <clr-dg-footer>{{ (projects ? projects.length : 0) }} item(s)</clr-dg-footer>
   </clr-datagrid>
</div>
</div>