<div class="container-fluid container-fluid-custom" ng-controller="DashboardController as vm">
  <div class="container">
    <div class="row row-custom">
	    <div class="col-xs-4 col-md-4"> 
	      <div class="row">
	        <div class="up-section">
 		        <project-summary></project-summary>
          </div>
        </div>						
      </div>
      <div class="col-xs-8 col-md-8">
        <div class="up-section">	
          <top-repository></top-repository>
		    </div>
	    </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-custom">
      <div class="col-xs-12 col-md-12">
	      <div class="down-section">
          <h4 class="page-header title-color underlined">// 'logs' | tr //</h4>
	        <user-log></user-log>
        </div>						
	    </div>
    </div>
  </div>
</div>