<div class="container-fluid container-fluid-custom" element-height ng-controller="ForgotPasswordController as vm">
  <div class="container container-custom">
    <div class="row extend-height">
	    <div class="section">
        <modal-dialog modal-title="// 'forgot_password' | tr //" modal-message="// 'mail_has_been_sent' | tr //" confirm-only="true" action="vm.confirm()"></modal-dialog>
		    <h1 class="col-md-12 col-md-offset-2 main-title title-color">// 'forgot_password' | tr //</h1>
        <div class="row">
          <div class="col-md-12 col-md-offset-2 main-content">
            <form name="form" class="form-horizontal css-form" novalidate>                     
              <div class="form-group">
                <label for="email" class="col-sm-3 control-label">// 'email' | tr //:</label>
                <div class="col-sm-7">
                  <input type="email" class="form-control" id="email" ng-model="user.email" ng-model-options="{ debounce: 500 }" ng-change="vm.reset()" name="uEmail" required >
                  <p class="help-block small-size-fonts">// 'forgot_password_description' | tr //</p>
                </div>
                <div class="col-sm-2">
                  <span class="asterisk">*</span>
                </div>
              </div>
              <div class="error-message">
                <div ng-messages="form.$submitted && form.uEmail.$error">
                  <span ng-message="required">// 'email_is_required' | tr //</span>
                </div>
                <span ng-show="vm.hasError">// vm.errorMessage | tr //</span>
              </div>
              <div class="form-group">
                <div class="col-md-offset-8 col-md-10">
                  <button type="submit" class="btn btn-success" ng-click="form.$valid && vm.sendMail(user)"  loading-progress hide-target="false" toggle-in-progress="vm.toggleInProgress">// 'send' | tr //</button>   
                </div>
              </div>  
            </form>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>