{
  "headerBgColor": {
    "darkMode": "{{look_and_feel.header_bg_color.dark_mode}}",
    "lightMode": "{{look_and_feel.header_bg_color.light_mode}}"
  },
  "loginBgImg": "{{look_and_feel.login_bg_img_file}}",
  "loginTitle": "{{look_and_feel.login_title}}",
  "product": {
    "name": "{{look_and_feel.product.name}}",
    "logo": "{{look_and_feel.product.logo_file}}",
    "introduction": "{{look_and_feel.product.introduction}}"
  }
}
