{
  "headerBgColor": {
    "darkMode": "{{look_and_feel.header_bg_color_dark_mode or ''}}",
    "lightMode": "{{look_and_feel.header_bg_color_light_mode or ''}}"
  },
  "loginBgImg": "{{look_and_feel.login_bg_img or ''}}",
  "loginTitle": "{{look_and_feel.login_title or ''}}",
  "product": {
    "name": "{{look_and_feel.product_name or ''}}",
    "logo": "{{look_and_feel.product_logo or ''}}",
    "introduction": "{{look_and_feel.product_introduction or ''}}"
  }
}
