.td {
  height: 24px;
  line-height: 24px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.dropdown-menu {
  max-width: unset;
}

:host::ng-deep.trigger clr-icon {
  padding: 0;
  position: unset !important;
}

.select-all-for-dropdown {
  margin-bottom: 0.25rem;
  width: fit-content;
}

:host ::ng-deep {
  .clr-form-control-disabled .clr-checkbox-wrapper input[type="checkbox"]:checked::before,
  .clr-checkbox-wrapper.clr-checkbox-wrapper-disabled input[type="checkbox"]:checked::before,
  .clr-checkbox-wrapper input[type="checkbox"]:disabled:checked::before {
    background-color: var(--clr-forms-checkbox-background-color, #0072a3) !important;
    border: none !important;
  }

  .clr-form-control-disabled .clr-checkbox-wrapper input[type="checkbox"]:checked::after,
  .clr-checkbox-wrapper.clr-checkbox-wrapper-disabled input[type="checkbox"]:checked::after,
  .clr-checkbox-wrapper input[type="checkbox"]:disabled:checked::after {
    border-color: var(--clr-forms-checkbox-mark-color, #fff) !important;
  }
}

.checkbox-cell {
  min-height: 32px;
  display: flex;
  align-items: center;
  padding: 8px 4px;

  clr-checkbox-wrapper {
    margin: 0;
  }
}


