.progress-size-small {
    height: 0.5em !important;
}

.visibility-hidden {
    visibility: hidden;
}

.forgot-password-link {
    position: relative;
    line-height: 36px;
    font-size: 14px;
    float: right;
    top: -5px;
}