<div>
  <div class="breadcrumb">
    <a href="javascript:void(0)" (click)="gotoProjectList()"> {{ 'SIDE_NAV.PROJECTS'| translate}} </a>
    &lt;
    <a href="javascript:void(0)" (click)="gotoChartList()">{{ 'HELM_CHART.HELMCHARTS'| translate}}</a>
  </div>
  <hbr-helm-chart-version
    [projectId]='projectId'
    [projectName]='projectName'
    [chartName]='chartName'
    [roleName]='roleName'
    [hasSignedIn]='hasSignedIn'
    [hasProjectAdminRole]='hasProjectAdminRole'
    (versionClickEvt)='onVersionClick($event)'
    (backEvt)='gotoChartList()'>
</hbr-helm-chart-version>
</div>