.padding-left-0 {
  padding-left: 0;
}
.no-margin {
  margin: 0;
}

.permission{
  padding-top: 0.1rem;
  color: #000000;
}

.padding-left-120{
  padding-left: 126px;
}
.w-90{
  width: 90%;
}
.date {
  margin-top: -0.9rem;
}
.input-width-date {
  width: 265px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-width {
  width: 232px;
}
.expiration-width {
  width: 80px;
}
.check {
  margin-right: 5px;
  color: green;
}
.dropdown-per {
  margin-left: -12px;
}
.mt-description {
  width: 238px;
}
.mt-8px {
  margin-top: 8px !important;
}
.showWarning {
  color: #b3a000;
}
.dropdown-item {
  min-height: 20px;
  display: flex;
  align-items: center;
}
.overflow-y-scroll {
  overflow-y: auto;
}
.ml-20px {
  margin-left: 20px;
}
