<nav class="navbar navbar-default navbar-custom" ng-controller="HeaderController as vm">
 <div class="container container-custom">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-harbor-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="img-responsive" src="/static/ng/resources/img/Harbor_Logo_rec.png" alt="Harbor's Logo"/></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-harbor-navbar-collapse-1">
		  <optional-menu></optional-menu>
	    <ul class="nav navbar-nav navbar-right">
		    <li>
		      <navigation-header></navigation-header>
		    </li>
	      <li>
	        <form class="navbar-form pull-right" role="search">
	          <div class="form-group">
	            <input type="text" class="form-control search-icon" placeholder="projects or repositories" size="35">
	          </div>           
	        </form>
		    </li>
	    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>