<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--script src="https://code.jquery.com/jquery-1.11.2.min.js"></script-->
<script src="/static/ng/vendors/jquery/jquery-1.12.3.js"></script>


<script src="/static/ng/vendors/moment/min/moment-with-locales.min.js"></script>
<script src="/static/ng/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/ng/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<script src="/static/ng/vendors/spinner/spinner.min.js"></script>

<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/ng/resources/css/header.css">
<link rel="stylesheet" href="/static/ng/resources/css/footer.css">
<link rel="stylesheet" href="/static/ng/resources/css/index.css">
<link rel="stylesheet" href="/static/ng/resources/css/dashboard.css">
<link rel="stylesheet" href="/static/ng/resources/css/project.css">
<link rel="stylesheet" href="/static/ng/resources/css/repository.css">

<script src="/static/ng/vendors/angularjs/angular.js"></script>
<script src="/static/ng/vendors/angularjs/angular-route.js"></script>

<script src="/static/ng/resources/js/harbor.module.js"></script>
<script src="/static/ng/resources/js/harbor.config.js"></script>
<script src="/static/ng/resources/js/harbor.initialize.js"></script>
<script src="/static/ng/resources/js/harbor.constants.js"></script>

<script src="/static/ng/resources/js/layout/navigation/navigation.module.js"></script>
<script src="/static/ng/resources/js/layout/navigation/navigation-header.directive.js"></script>
<script src="/static/ng/resources/js/layout/navigation/navigation-details.directive.js"></script>

<script src="/static/ng/resources/js/layout/index/index.module.js"></script>
<script src="/static/ng/resources/js/layout/index/index.controller.js"></script>

<script src="/static/ng/resources/js/layout/project/project.module.js"></script>
<script src="/static/ng/resources/js/layout/project/project.controller.js"></script>

<script src="/static/ng/resources/js/layout/details/details.module.js"></script>
<script src="/static/ng/resources/js/layout/details/details.config.js"></script>
<script src="/static/ng/resources/js/layout/details/details.controller.js"></script>

<script src="/static/ng/resources/js/layout/repository/repository.module.js"></script>
<script src="/static/ng/resources/js/layout/repository/repository.controller.js"></script>

<script src="/static/ng/resources/js/layout/project-member/project-member.module.js"></script>
<script src="/static/ng/resources/js/layout/project-member/project-member.controller.js"></script>

<script src="/static/ng/resources/js/layout/user/user.module.js"></script>
<script src="/static/ng/resources/js/layout/user/user.controller.js"></script>

<script src="/static/ng/resources/js/layout/log/log.module.js"></script>
<script src="/static/ng/resources/js/layout/log/log.controller.js"></script>

<script src="/static/ng/resources/js/services/search/services.search.module.js"></script>
<script src="/static/ng/resources/js/services/search/services.search.js"></script>

<script src="/static/ng/resources/js/services/project/services.project.module.js"></script>
<script src="/static/ng/resources/js/services/project/services.list-project.js"></script>
<script src="/static/ng/resources/js/services/project/services.add-project.js"></script>
<script src="/static/ng/resources/js/services/project/services.edit-project.js"></script>

<script src="/static/ng/resources/js/services/user/services.user.module.js"></script>
<script src="/static/ng/resources/js/services/user/services.current-user.js"></script>
<script src="/static/ng/resources/js/services/user/services.sign-in.js"></script>

<script src="/static/ng/resources/js/services/repository/services.repository.module.js"></script>
<script src="/static/ng/resources/js/services/repository/services.list-repository.js"></script>
<script src="/static/ng/resources/js/services/repository/services.list-tag.js"></script>

<script src="/static/ng/resources/js/services/project-member/services.project-member.module.js"></script>
<script src="/static/ng/resources/js/services/project-member/services.add-project-member.js"></script>
<script src="/static/ng/resources/js/services/project-member/services.list-project-member.js"></script>
<script src="/static/ng/resources/js/services/project-member/services.edit-project-member.js"></script>
<script src="/static/ng/resources/js/services/project-member/services.delete-project-member.js"></script>

<script src="/static/ng/resources/js/services/log/services.log.module.js"></script>
<script src="/static/ng/resources/js/services/log/services.list-log.js"></script>

<script src="/static/ng/resources/js/session/session.module.js"></script>
<script src="/static/ng/resources/js/session/session.current-user.js"></script>

<script src="/static/ng/resources/js/components/header/header.module.js"></script>

<script src="/static/ng/resources/js/components/search/search.module.js"></script>
<script src="/static/ng/resources/js/components/search/search.directive.js"></script>

<script src="/static/ng/resources/js/components/sign-in/sign-in.module.js"></script>
<script src="/static/ng/resources/js/components/sign-in/sign-in.directive.js"></script>

<script src="/static/ng/resources/js/components/project/project.module.js"></script>
<script src="/static/ng/resources/js/components/project/add-project.directive.js"></script>
<script src="/static/ng/resources/js/components/project/list-project.directive.js"></script>
<script src="/static/ng/resources/js/components/project/publicity-button.directive.js"></script>

<script src="/static/ng/resources/js/components/details/switch-pane-projects.directive.js"></script>
<script src="/static/ng/resources/js/components/details/retrieve-projects.directive.js"></script>

<script src="/static/ng/resources/js/components/repository/repository.module.js"></script>
<script src="/static/ng/resources/js/components/repository/list-repository.directive.js"></script>
<script src="/static/ng/resources/js/components/repository/list-tag.directive.js"></script>

<script src="/static/ng/resources/js/components/project-member/project-member.module.js"></script>
<script src="/static/ng/resources/js/components/project-member/project-member.config.js"></script>
<script src="/static/ng/resources/js/components/project-member/add-project-member.directive.js"></script>
<script src="/static/ng/resources/js/components/project-member/switch-role.directive.js"></script>
<script src="/static/ng/resources/js/components/project-member/list-project-member.directive.js"></script>
<script src="/static/ng/resources/js/components/project-member/edit-project-member.directive.js"></script>

<script src="/static/ng/resources/js/components/user/user.module.js"></script>

<script src="/static/ng/resources/js/components/log/log.module.js"></script>
<script src="/static/ng/resources/js/components/log/log.config.js"></script>
<script src="/static/ng/resources/js/components/log/list-log.directive.js"></script>
<script src="/static/ng/resources/js/components/log/advanced-search.directive.js"></script>
