.sign-in-override {
    padding-left: 0px !important;
    padding-right: 5px !important;
}

.sign-up-override {
    padding-left: 5px !important;
}

.custom-divider {
    display: inline-block;
    border-right: 2px inset snow;
    padding: 2px 0px 2px 0px;
    vertical-align: middle;
    height: 24px;
}

.lang-selected {
    font-weight: bold;
}

.nav-divider {
    display: inline-block;
    width: 1px;
    height: 40px;
    background-color: #fafafa;
    position: relative;
    top: 10px;
    opacity: 0.15;
    content: '';
}

.nav-about-link {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.harbor-logo {
    width: 40px;
    margin-right: 15px;
}

.nav-icon-width {
    width: auto !important;
    padding-left: 18px !important;
    .icon-left {
        left: -8px;
    }
    .currentLang {
        padding-right: 8px;
    }
}

.user-icon {
    left: -2px;
}

.headerLogo {
    width: 36px;
    height: 36px;
    object-fit: fill;
}
.dropdown-item {
    outline: none;
}