<div>
    <form #newUserFrom="ngForm" class="form">
        <section class="form-block">
            <div class="form-group">
                <label for="username" class="col-md-4 required">{{'PROFILE.USER_NAME' | translate}}</label>
                <label for="username" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right" [class.invalid]="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
                <input type="text" placeholder='{{"PLACEHOLDER.USER_NAME" | translate}}' required pattern='[^"~#$%]+' maxLengthExt="20" #usernameInput="ngModel" name="username" [(ngModel)]="newUser.username" id="username" size="46">
                <span class="tooltip-content">
                    {{'TOOLTIP.USER_NAME' | translate}}
                </span>
                </label>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-4 required">{{'PROFILE.EMAIL' | translate}}</label>
                <label for="email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-right" [class.invalid]="eamilInput.invalid && (eamilInput.dirty || eamilInput.touched)">
                      <input name="email" type="text" #eamilInput="ngModel" [(ngModel)]="newUser.email" 
                      placeholder='{{"PLACEHOLDER.MAIL" | translate}}'
                      required 
                      pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$' id="email" size="46">
                      <span class="tooltip-content">
                          {{'TOOLTIP.EMAIL' | translate}}
                      </span>
                    </label>
            </div>
            <div class="form-group">
                <label for="realname" class="col-md-4 required">{{'PROFILE.FULL_NAME' | translate}}</label>
                <label for="realname" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-right" [class.invalid]="fullNameInput.invalid && (fullNameInput.dirty || fullNameInput.touched)">
                      <input type="text" placeholder='{{"PLACEHOLDER.FULL_NAME" | translate}}' name="realname" #fullNameInput="ngModel" [(ngModel)]="newUser.realname" required maxLengthExt="20" id="realname" size="46">
                      <span class="tooltip-content">
                          {{'TOOLTIP.FULL_NAME' | translate}}
                      </span>
                    </label>
            </div>
            <div class="form-group">
                <label for="newPassword" class="required">{{'PROFILE.PASSWORD' | translate}}</label>
                <label for="newPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-right" [class.invalid]="newPassInput.invalid && (newPassInput.dirty || newPassInput.touched)">
                <input type="password" id="newPassword" placeholder='{{"PLACEHOLDER.NEW_PWD" | translate}}'
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                    name="newPassword"
                    [(ngModel)]="newUser.password"
                    #newPassInput="ngModel" size="46">
                <span class="tooltip-content">
                    {{'TOOLTIP.PASSWORD' | translate}}
                </span>
            </label>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="required">{{'CHANGE_PWD.CONFIRM_PWD' | translate}}</label>
                <label for="confirmPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-right" [class.invalid]="(confirmPassInput.invalid && (confirmPassInput.dirty || confirmPassInput.touched)) || (!confirmPassInput.invalid && confirmPassInput.value != newPassInput.value)">
                <input type="password" id="confirmPassword" placeholder='{{"PLACEHOLDER.CONFIRM_PWD" | translate}}'
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                    name="confirmPassword"
                    [(ngModel)]="confirmedPwd"
                    #confirmPassInput="ngModel" size="46">
                <span class="tooltip-content">
                    {{'TOOLTIP.CONFIRM_PWD' | translate}}
                </span>
            </label>
            </div>
            <div class="form-group">
                <label for="comment" class="col-md-4">{{'PROFILE.COMMENT' | translate}}</label>
                <label for="comment" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right" [class.invalid]="commentInput.invalid && (commentInput.dirty || commentInput.touched)">
                <input type="text" #commentInput="ngModel" name="comment" [(ngModel)]="newUser.comment" maxLengthExt="20" id="comment" size="46">
                <span class="tooltip-content">
                    {{'TOOLTIP.COMMENT' | translate}}
                </span>
                </label>
            </div>
        </section>
    </form>
</div>