<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
    <div class="row flex-items-xs-between">
      <div class="col-xs-4">
        <button class="btn btn-sm" (click)="openAddMemberModal()">new user</button>
        <add-member [projectId]="projectId" (added)="addedMember($event)"></add-member>
      </div>
      <div class="col-xs-4">
        <input type="text" placeholder="Search for users" #searchMember (keyup.enter)="doSearch(searchMember.value)">
      </div>
    </div>
    <clr-datagrid>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Role</clr-dg-column>
      <clr-dg-column>Action</clr-dg-column>
      <clr-dg-row *ngFor="let u of members">
        <clr-dg-cell>{{u.username}}</clr-dg-cell>
        <clr-dg-cell>{{roleInfo[u.role_id]}}</clr-dg-cell>
        <clr-dg-cell>
          <clr-dropdown [clrMenuPosition]="'bottom-left'" [hidden]="u.user_id === currentUser.user_id">
            <button class="btn btn-sm btn-link" clrDropdownToggle>
              Actions
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
              <a href="javascript:void(0)" clrDropdownItem (click)="changeRole(u.user_id, 1)">Project Admin</a>
              <a href="javascript:void(0)" clrDropdownItem (click)="changeRole(u.user_id, 2)">Developer</a>
              <a href="javascript:void(0)" clrDropdownItem (click)="changeRole(u.user_id, 3)">Guest</a>
              <div class="dropdown-divider"></div>
              <a href="javascript:void(0)" clrDropdownItem (click)="deleteMember(u.user_id)">Delete Member</a>
            </div>
          </clr-dropdown>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>{{ (members ? members.length : 0) }} item(s)</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>