<div class="well panel-group">
  <div class="row">
    <div class="col-xs-10 col-md-10">
      <form>  
        <div class="form-group">               
          <input type="text" class="form-control" placeholder="Project Name" ng-model="vm.projectName">
        </div>
        <div class="form-group">
          <input type="checkbox" ng-model="vm.isPublic">&nbsp;Public Project                      
        </div>
      </form>
    </div>
    <div class="col-xs-2 col-md-2"> 
      <form>                        
        <div class="form-group" style="margin-top: 20%;">               
          <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="vm.addProject()">Save</button>     
        </div>
      </form>
    </div>
  </div>
</div>