<table class="table">
  <thead>
    <th>Project Name</th><th>Repositories</th><th>Role</th><th>Creation Time</th><th>Publicity</th>
  </thead>
  <tbody>
    <tr ng-repeat="p in vm.projects">
      <td><a href="/ng/repository?project_id=//p.ProjectId//">//p.Name//</a></td>
      <td>N/A</td>
      <td>N/A</td>
      <td>//p.CreationTime | dateL : 'YYYY-MM-DD HH:mm:ss'//</td>
      <td><publicity-button is-public="p.Public" owned="p.OwnerId == vm.currentUser.UserId" project-id="p.ProjectId"></publicity-button></td>
    	</tr>
  </tbody>
</table>