.statistic-wrapper {
    padding: 4px;
    margin: 4px;
    text-align: right;
    vertical-align: middle;
    height: 30px;
    display: inline-block;
}

.statistic-data {
    font-size: 24px;
    font-weight: 600;
    font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
    line-height: 24px;
    margin-right: 10px;
}

.statistic-text {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

.statistic-column-block {
    display: inline-block;
    text-align: right;
}

.statistic-column-title {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

.statistic-column-title-pro {
    top: -10px;
}

.statistic-column-title-repo {
    top: 3px;
}

.statistic-item-divider {
    height: 54px;
    display: inline-block;
    width: 2px;
    background-color: #bdbdbd;
    opacity: 0.55;
    margin-left: 4px;
    margin-right: 12px;
    position: relative;
    top: 3px;
}

.statistic-block {
    display: inline-block;
}

#right_statistic_panel {
    margin-right: 18px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    div:nth-of-type(2)  {
        margin-left: 16px;
    }
    div:nth-of-type(3)  {
        margin-left: 28px;
    }
    div:nth-of-type(4)  {
        margin-left: 28px;
    }
}