<clr-main-container>
    <navigator (showAccountSettingsModal)="openModal($event)" (searchEvt)="doSearch($event)" (showPwdChangeModal)="openModal($event)"></navigator>
    <global-message></global-message>
    <div class="content-container">
        <div class="content-area" [class.container-override]="showSearch">
            <!-- Only appear when searching -->
            <search-result (closeEvt)="searchClose($event)"></search-result>
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav" [class.side-nav-override]="showSearch">
            <section class="sidenav-content">
                <a routerLink="/harbor/projects" routerLinkActive="active" class="nav-link">
                    Projects
                </a>
                <section class="nav-group collapsible">
                    <input id="tabsystem" type="checkbox">
                    <label for="tabsystem">System Managements</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Users</a></li>
                        <li><a class="nav-link">Replications</a></li>
                        <li><a class="nav-link">Quarantine[*]</a></li>
                        <li><a class="nav-link">Configurations[*]</a></li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</clr-main-container>
<account-settings-modal></account-settings-modal>
<password-setting (pwdChange)="watchPwdChange($event)"></password-setting>