.app-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -54px;
    margin-left: -54px;
    width: 108px !important;
    height: 108px !important;
}


/*Hack Clarity alert*/

.alert-global {
    font-size: 16px;
    font-weight: 400;
    font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
    padding: 12px !important;
    border: none !important;
    margin-top: 0px !important;
    max-height: 96px;
}

.alert-global-align {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.tooltip-content{white-space: normal;word-wrap: break-word;}

 .alert.alert-warning{
    padding:10px 12px;
}
 .alert-warning .alert-actions button{
     margin: -2px 0 0px 0;
}
 .modal-header{
     padding: 0;
 }
.rotate-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.datagrid-spinner{margin-top: 24px;}
