.side-nav-override {
    box-shadow: 6px 0px 0px 0px #ccc;
}

.container-override {
    position: relative !important;
}
.content-container{
    position: relative;
}

.start-content-padding {
    padding: 0px !important;
    background-color: white;
    overflow-y: hidden !important;
}

.content-area-override {
    padding: 36px !important;
    padding-right: 21px !important;
}

.nav-link-override {
    width: 126px !important;
}