<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>404</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="favicon.ico" rel="icon">
</head>
<body>
<div class="container-fluid">
	<section>
		<img src="pics/bg-404.svg" width="100%" />
		<div class="row">
			<div class="col-xs-offset-5 col-xs-2">
				<a href="#" class="btn btn-default btn-block">返回上一页</a>
				</div>
		</div>
	</section>
</div>
</body>
</html>