<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>503</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="favicon.ico" rel="icon">
<style>
	.container-fluid {
		margin-top: 10%;
	}
	.footer {
		padding-top: 40px;
		text-align: center;
	}
	.footer p {
		padding-top: 20px;
	}
	.footer .btn {
		padding-left: 46px;
		padding-right: 24px;
		background-repeat: no-repeat;
		background-size: 18px 18px;
		background-position: 22px 7px;
		margin: 0 10px;
	}
	.footer .userdoc {
		background-image: url(pics/ico-userdoc-hover.svg);
	}
	.footer .bbs {
		background-image: url(pics/ico-bbs-hover.svg);
	}
</style>
</head>
<body>
<div class="container-fluid">
	<section>
		<img src="pics/bg-503.svg" width="90%" />
		<div class="footer">
			<a href="http://doc.shurenyun.com/" class="btn btn-primary userdoc" target="_blank">用户手册</a>
			<a href="http://open.shurenyun.com/" class="btn btn-primary bbs" target="_blank">数人社区</a>
			<p>
				投诉建议：<a href="mailto:info@shurenyun.com">info@shurenyun.com</a> 或 拨打电话 010 - 64776698
			</p>
		</div>
	</section>
</div>

</body>
</html>