<clr-dropdown [clrMenuPosition]="'bottom-right'">
    <button class="nav-text" clrDropdownToggle>
          <!--<clr-icon shape="user" class="is-inverse" size="24"></clr-icon>-->
          <span>Administrator</span>
          <clr-icon shape="caret down"></clr-icon>
      </button>
    <div class="dropdown-menu">
        <a href="javascript:void(0)" clrDropdownItem>Add User</a>
        <a href="javascript:void(0)" clrDropdownItem>Account Setting</a>
        <a href="javascript:void(0)" clrDropdownItem>About</a>
    </div>
</clr-dropdown>