.duration {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 1rem 0;
    line-height: 2rem;
    height: 2rem;
}

.card-block {
    height: 9rem;
}

.center {
    display: flex;
    align-items: center;
}
