<h2 class="custom-h2" sub-header-title>
    {{ 'SIDE_NAV.LOGS' | translate }}
</h2>
<nav class="mt-1">
    <ul class="nav">
        <li class="nav-item">
            <a
                class="nav-link"
                routerLink="audit-log"
                routerLinkActive="active"
                >{{ 'SIDE_NAV.AUDIT_LOGS' | translate }}</a
            >
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                routerLink="audit-legacy-log"
                routerLinkActive="active"
                >{{ 'SIDE_NAV.LEGACY_LOGS' | translate }}</a
            >
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
