<clr-header class="header-5 header">
    <div class="branding">
        <a href="#" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Harbor</span>
        </a>
    </div>
    <global-search (searchEvt)="transferSearchEvent($event)"></global-search>
    <div class="header-actions">
        <clr-dropdown [clrMenuPosition]="'bottom-right'" class="dropdown">
            <button class="nav-text" clrDropdownToggle>
              <clr-icon shape="user" class="is-inverse" size="24" style="left:-5px;"></clr-icon>
              <span>Administrator</span>
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
                <a href="javascript:void(0)" clrDropdownItem (click)="open()">Account Setting</a>
                <a href="javascript:void(0)" clrDropdownItem>Log out</a>
            </div>
        </clr-dropdown>
        <clr-dropdown class="dropdown bottom-right">
            <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
                <a href="javascript:void(0)" clrDropdownItem>Preferences</a>
                <a href="javascript:void(0)" clrDropdownItem>Add User</a>
                <a href="javascript:void(0)" clrDropdownItem>About</a>
            </div>
        </clr-dropdown>
    </div>
</clr-header>