@import "../../node_modules/@clr/ui/clr-ui-dark.min.css";

.label-form {
  background-color: #212129 !important;
}
.esxc-gauge-circle-bgc-dark {
  background-color: rgb(27, 42, 50) !important;
}

.harbor-icon {
  filter: drop-shadow(#ccc 58px 2px) !important;
}

.color-white-dark {
  color: white;
}

.labelFilterPanel {
  background-color: rgb(27, 42, 50) !important;
}

.filter-dark {
  color: #acbac3;
}
// operation
.side-form {
  background-color: rgb(27, 42, 50) !important;
}
.toolBar {
  background-color: rgb(27, 42, 50) !important;
}

.search-overlay {
  background-color: rgb(27, 42, 50) !important;
}

.add-modal-dark {
  background: #21333b !important;
}
.license {
  background-color: rgb(27, 42, 50) !important;
}

.pagination-list {
  .pagination-current {
    color: #acbac3 !important;
  }
}
.no-info-div,
.info-div {
  background-color: rgb(27, 42, 50) !important;
}
.bottom-line-project-config {
  color: #acbac3;
}
.config-subtext {
  color: #acbac3;
}
.permission-light {
    color:#acbac3;
}