@import "../../node_modules/@clr/ui/clr-ui.min.css";
.label-form {
  background-color: #eee !important;
}

.harbor-icon {
  filter: drop-shadow(black 58px 2px) !important;
}
// project config page
.config-subtext {
  color: rgb(86, 86, 86);
}
.bottom-line-project-config {
  color: #000;
}
.permission-light {
  color: #000;
}
.left-label-light {
  color: #000;
}
.esxc-gauge-circle-inner {
  background-color: rgb(250, 250, 250) !important;
}
.labelFilterPanel {
  background: #fff !important;
}
.side-form {
  background: #fff !important;
}
.search-overlay {
  background-color: #fafafa !important;
}
.toolBar {
  background-color: #fff !important;
}

.pagination-list {
  .pagination-current {
    color: #575757 !important;
  }
}
.no-info-div,
.info-div {
  background-color: #fff !important;
}
.add-modal-dark {
  background-color: #eeeeee !important;
}
.license {
  background-color: #fff !important;
}