<clr-modal
    [(clrModalOpen)]="opened"
    [clrModalClosable]="false"
    [clrModalStaticBackdrop]="true">
    <h3 class="modal-title confirmation-title">{{ dialogTitle }}</h3>
    <div class="modal-body">
        <div class="confirmation-icon-inline">
            <clr-icon shape="warning" status="warning" size="64"></clr-icon>
        </div>
        <div class="confirmation-content">{{ dialogContent }}</div>
    </div>
    <div class="modal-footer">
        @switch (buttons) { @case (0) {
        <button type="button" class="btn btn-outline" (click)="cancel()">
            {{ 'BUTTON.CANCEL' | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="confirm()">
            {{ 'BUTTON.CONFIRM' | translate }}
        </button>
        } @case (1) {
        <button type="button" class="btn btn-outline" (click)="cancel()">
            {{ 'BUTTON.NO' | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="confirm()">
            {{ 'BUTTON.YES' | translate }}
        </button>
        } @case (2) {
        <button
            type="button"
            class="btn btn-outline"
            (click)="cancel()"
            [hidden]="isDelete">
            {{ 'BUTTON.CANCEL' | translate }}
        </button>
        <button
            type="button"
            class="btn btn-danger"
            (click)="confirm()"
            [hidden]="isDelete">
            {{ 'BUTTON.DELETE' | translate }}
        </button>
        } @case (3) {
        <button type="button" class="btn btn-primary" (click)="cancel()">
            {{ 'BUTTON.CLOSE' | translate }}
        </button>
        } @case (4) {
        <button type="button" class="btn btn-outline" (click)="cancel()">
            {{ 'BUTTON.CANCEL' | translate }}
        </button>
        <button
            type="button"
            id="dialog-action-enable"
            class="btn btn-primary"
            (click)="confirm()">
            {{ 'BUTTON.ENABLE' | translate }}
        </button>
        } @case (5) {
        <button type="button" class="btn btn-outline" (click)="cancel()">
            {{ 'BUTTON.CANCEL' | translate }}
        </button>
        <button
            type="button"
            id="dialog-action-disable"
            class="btn btn-danger"
            (click)="confirm()">
            {{ 'BUTTON.DISABLE' | translate }}
        </button>
        } @case (6) {
        <button
            type="button"
            class="btn btn-outline"
            (click)="cancel()"
            [hidden]="isDelete">
            {{ 'BUTTON.CANCEL' | translate }}
        </button>
        <button
            type="button"
            class="btn btn-primary"
            (click)="confirm()"
            [hidden]="isDelete">
            {{ 'BUTTON.REPLICATE' | translate }}
        </button>
        } @case (7) {
        <button
            type="button"
            class="btn btn-outline"
            (click)="cancel()"
            [hidden]="isDelete">
            {{ 'BUTTON.CANCEL' | translate }}
        </button>
        <button
            type="button"
            class="btn btn-primary"
            (click)="confirm()"
            [hidden]="isDelete">
            {{ 'BUTTON.STOP' | translate }}
        </button>
        } }
    </div>
</clr-modal>
