<div class="login-wrapper">
    <form #signInForm="ngForm" class="login">
        <label class="title">
        VMware Harbor<span class="trademark">&#8482;</span>
    </label>
        <div class="login-group">
            <label for="username" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid]="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)">
                <input class="username" type="text" required
                [(ngModel)]="signInCredential.principal" 
                name="login_username" id="login_username" placeholder='{{"PLACEHOLDER.SIGN_IN_NAME" | translate}}'
                #userNameInput='ngModel'>
                <span class="tooltip-content">
                    {{ 'TOOLTIP.SIGN_IN_USERNAME' | translate }}
                </span>
            </label>
            <label for="username" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                <input class="password" type="password" required 
                [(ngModel)]="signInCredential.password" 
                name="login_password" id="login_password" placeholder='{{"PLACEHOLDER.SIGN_IN_PWD" | translate}}'
                #passwordInput="ngModel">
                <span class="tooltip-content">
                    {{ 'TOOLTIP.SIGN_IN_PWD' | translate }}
                </span>
            </label>
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">{{ 'SIGN_IN.REMEMBER' | translate }}</label>
                <a href="javascript:void(0)" class="forgot-password-link" (click)="forgotPassword()">{{'SIGN_IN.FORGOT_PWD' | translate}}</a>
            </div>
            <div [class.visibility-hidden]="!isError" class="error active">
                {{ 'SIGN_IN.INVALID_MSG' | translate }}
            </div>
            <button [disabled]="isOnGoing || !isValid" type="submit" class="btn btn-primary" (click)="signIn()">{{ 'BUTTON.LOG_IN' | translate }}</button>
            <a href="javascript:void(0)" class="signup" (click)="signUp()">{{ 'BUTTON.SIGN_UP_LINK' | translate }}</a>
        </div>
    </form>
</div>
<sign-up #signupDialog></sign-up>>
<forgot-password #forgotPwdDialog></forgot-password>