<div class="login-wrapper">
    <form #signInForm="ngForm" class="login">
        <label class="title">
        VMware Harbor<span class="trademark">&#8482;</span>
    </label>
        <div class="login-group">
            <label for="username" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid]="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)">
                <input class="username" type="text" required
                [(ngModel)]="signInCredential.principal" 
                name="login_username" id="login_username" placeholder="Username"
                #userNameInput='ngModel'>
                <span class="tooltip-content">
                    Username is required!
                </span>
            </label>
            <label for="username" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                <input class="password" type="password" required 
                [(ngModel)]="signInCredential.password" 
                name="login_password" id="login_password" placeholder="Password" 
                #passwordInput="ngModel">
                <span class="tooltip-content">
                    Password is required!
                </span>
            </label>
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">Remember me</label>
            </div>
            <div [class.visibility-hidden]="signInStatus != statusError" class="error active">
                Invalid user name or password
            </div>
            <button [disabled]="isOnGoing || !isValid" type="submit" class="btn btn-primary" (click)="signIn()">{{ 'LOG_IN' | translate }}</button>
            <a href="javascript:void(0)" class="signup" (click)="signUp()">{{ 'SIGN_UP' | translate }}</a>
        </div>
    </form>
</div>