@if (!alertClose) {
<clr-alert
    [(clrAlertClosed)]="alertClose"
    [clrAlertType]="inlineAlertType"
    [clrAlertClosable]="inlineAlertClosable"
    [clrAlertAppLevel]="useAppLevelStyle">
    @if (!alertClose) {
    <div class="alert-item">
        <span class="alert-text" [class.alert-text-blink]="blinking">
            {{ errorMessage }}
        </span>
        @if (showCancelAction) {
        <div class="alert-actions">
            <button class="btn btn-link alert-btn-link" (click)="close()">
                {{ 'BUTTON.NO' | translate }}
            </button>
            <button
                class="btn btn-link alert-btn-link"
                (click)="confirmCancel()">
                {{ 'BUTTON.YES' | translate }}
            </button>
        </div>
        }
    </div>
    }
</clr-alert>
}
