{
	"server": {
		"http_addr": ":4443"
	},
	"trust_service": {
		"type": "remote",
		"hostname": "notarysigner",
		"port": "7899",
		"tls_ca_file": "./notary-signer-ca.crt",
		"key_algorithm": "ecdsa"
	},
	"logging": {
		"level": "debug"
	},
	"storage": {
		"backend": "postgres",
		"db_url": "postgres://{{notary_server_db_username}}:{{notary_server_db_password}}@{{notary_server_db_host}}:{{notary_server_db_port}}/{{notary_server_db_name}}?sslmode={{notary_server_db_sslmode}}"
    },
    "auth": {
        "type": "token",
        "options": {
            "realm": "{{token_endpoint}}/service/token",
            "service": "harbor-notary",
            "issuer": "harbor-token-issuer",
            "rootcertbundle": "/etc/notary/root.crt"
        }
    }
}