{
	"server": {
		"grpc_addr": ":7899",
		"tls_cert_file": "./notary-signer.crt",
		"tls_key_file": "./notary-signer.key"
	},
	"logging": {
		"level": "debug"
	},
    "storage": {
        "backend": "postgres",
			"db_url": "postgres://{{notary_signer_db_username}}:{{notary_signer_db_password}}@{{notary_signer_db_host}}:{{notary_signer_db_port}}/{{notary_signer_db_name}}?sslmode={{notary_signer_db_sslmode}}",
		    "default_alias": "defaultalias"
    }
}  