{
	"server": {
		"grpc_addr": ":7899",
		"tls_cert_file": "./notary-signer.crt",
		"tls_key_file": "./notary-signer.key"
	},
	"logging": {
		"level": "debug"
	},
    "storage": {
        "backend": "postgres",
			"db_url": "postgres://{{db_user}}:{{db_password}}@{{db_host}}:{{db_port}}/notarysigner?sslmode={{db_ssl_mode}}",
		    "default_alias": "{{alias}}"
    }
}  