{
	"server": {
		"grpc_addr": ":7899",
		"tls_cert_file": "./notary-signer.crt",
		"tls_key_file": "./notary-signer.key"
	},
	"logging": {
		"level": "debug"
	},
    "storage": {
        "backend": "postgres",
		    "db_url": "postgres://signer:password@postgresql:5432/notarysigner?sslmode=disable",
		    "default_alias":"defaultalias"
    }
}  