{
	"server": {
		"grpc_addr": ":7899",
		"tls_cert_file": "./notary-signer.crt",
		"tls_key_file": "./notary-signer.key"
	},
	"logging": {
		"level": "debug"
	},
    "storage": {
        "backend": "mysql",
		"db_url": "{{notary_signer_db_username}}:{{notary_signer_db_password}}@tcp({{notary_signer_db_host}}:{{notary_signer_db_port}})/{{notary_signer_db_name}}?parseTime=True",
        "default_alias": "defaultalias"
    }
}