[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==4.2b1"
click = ">=7.1.1"
"jinja2" = ">=2.10.1"
packaging = ">=20.3"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.7.5"
