[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.1.1"
packaging = ">=20.3"
pydantic = ">=2.10.5"
litellm = ">=1.67.5"
rich = "*"
jinja2 = ">=3.1.0"
pyyaml = ">=6.0.0"
tenacity = ">=9.0.0"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.13"
