[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.1.1"
packaging = ">=20.3"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.9.1"
