<navigator></navigator>
<h1 class="display-in-line">Project 01</h1><h6 class="display-in-line project-title">PROJECT</h6>
<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="repository" routerLinkActive="active">Repositories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="replication" routerLinkActive="active">Replication</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="member" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="log" routerLinkActive="active">Logs</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
