.list-rule {
    padding-bottom: 15px;
}

.text-alignment {
    vertical-align: text-bottom;
}
.min-width {
    width: 236px;
}
.col-width {
    width: 140px;
}
.status-width {
    width: 130px;
}

.icon-style {
    color: #C92100;
}
.margin-right-2px {
    margin-right: 2px;
}
