<h2 class="sub-header-title">{{'SIDE_NAV.SYSTEM_MGMT.REPLICATION' | translate}}</h2>
<nav class="subnav">
  <ul class="nav sub-nav-bg-color">
    <li class="nav-item">
      <a class="nav-link" routerLink="endpoints" routerLinkActive="active">{{'REPLICATION.ENDPOINTS' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="rules" routerLinkActive="active">{{'REPLICATION.REPLICATION_RULE' | translate}}</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
