.container-custom {
  position: relative;
  min-height: 1px;
}

.extend-height {
  height: 100%;
  min-height: 1px;
  min-width: 1024px;
}

.section {
  padding: 15px;
  margin-top: 20px;
  background-color: #FFFFFF;
  width: 100%;
  min-height: 579px;
}

.search-pane {
  margin: 0 10px 0 10px;
  height: 3em;
}


.table>tbody>tr>td, .table>tbody>tr>th {
  vertical-align: middle;
}

.table-header {
  margin-bottom: 0;
}

.table-body-full-width {
  overflow-y: auto;
  width: 1075px;
}

.gutter {
  margin: 0 1em 0 1em;
}

.project-pane {
  margin: 0 10px 0 10px;
}

.pane {
  height: auto;
  min-height: 1px;
}

.sub-pane {
  margin: 15px;
  min-height: 380px;
  overflow-y: auto;
}

.well-custom {
  position: absolute;
  width: 1064px;
  background-color: #f5f5f5;
  background-image: none;
  margin: 0 10px;
  z-index: 10;
}

.form-custom {
  margin-top: 1em;
}

.empty-hint {
  text-align: center;
  vertical-align: middle;
}