<div class="card card-block">
    <h3 class="card-title">{{'STATISTICS.TITLE' | translate }}</h3>
    <span class="card-text">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
<span class="statistic-column-title">{{'STATISTICS.PRO_ITEM' | translate }}</span>
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
    <statistics [data]='{number: originalCopy.my_project_count, label: "my"}'></statistics>
    <statistics [data]='{number: originalCopy.public_project_count, label: "pub"}'></statistics>
    <statistics [data]='{number: originalCopy.total_project_count, label: "total"}' *ngIf="isValidSession"></statistics>
</div>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <span class="statistic-column-title">{{'STATISTICS.REPO_ITEM' | translate }}</span>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <statistics [data]='{number: originalCopy.my_repo_count, label: "my"}'></statistics>
        <statistics [data]='{number: originalCopy.public_repo_count, label: "pub"}'></statistics>
        <statistics [data]='{number: originalCopy.total_repo_count, label: "total"}' *ngIf="isValidSession"></statistics>
    </div>
</div>
</span>
</div>