<form name="form" class="form-horizontal css-form" ng-submit="form.$valid" novalidate>
  <div class="form-group"> 
    <div class="col-sm-offset-1 col-sm-10">
      <input id="username"  type="text" class="form-control" placeholder="// 'username_email' | tr //" name="uPrincipal" ng-change="vm.reset()" ng-model="user.principal" required>
      <div class="error-message">
        <div ng-messages="form.uPrincipal.$error" ng-if="form.uPrincipal.$touched">
          <span ng-message="required">// 'username_is_required' | tr //</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <input type="password" class="form-control" placeholder="// 'password' | tr //" name="uPassword" ng-change="vm.reset()" ng-model="user.password" required>
      <div class="error-message">
        <div ng-messages="form.uPassword.$error" ng-if="form.uPassword.$touched">
          <span ng-message="required">// 'password_is_required' | tr //</span>
        </div>
        <span ng-show="vm.hasError">// vm.errorMessage | tr //</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="pull-right">
        <button class="btn btn-default" ng-disabled="form.$invalid" ng-click="vm.doSignIn(user)">// 'sign_in' | tr //</button>
        <button class="btn btn-success" ng-click="vm.doSignUp()">// 'sign_up' | tr //</button>   
      </div>
    </div>	
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="pull-right">
        <a href="javascript:void(0)" ng-click="vm.doForgotPassword()">// 'forgot_password' | tr //</a>
      </div>
    </div>
  </div>
</form>