.about-version {
    font-size: 14px;
    font-weight: 500;
}

.dialog-body {
    display:flex;
    padding-left: 0;
}

.content {
    margin:0 10px 10px 10px;
    outline: none;
}

.harbor-icon {
    transform: translateX(-100%);
    width: 56px;
    filter: drop-shadow(rgb(0, 0, 0) 58px 2px);
}