<a [routerLink]="['/harbor', 'projects', projectId, 'repository']">&lt; {{'REPOSITORY.REPOSITORIES' | translate}}</a>
<h2 class="sub-header-title">{{repoName}} <span class="badge">{{tags ? tags.length : 0}}</span></h2>
<clr-datagrid>
    <clr-dg-column>{{'REPOSITORY.TAG' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.PULL_COMMAND' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.SIGNED' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.AUTHOR' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.CREATED' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.DOCKER_VERSION' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.ARCHITECTURE' | translate}}</clr-dg-column>
    <clr-dg-column>{{'REPOSITORY.OS' | translate}}</clr-dg-column>
    <clr-dg-row *ngFor="let t of tags" [clrDgItem]='t'>
        <clr-dg-action-overflow>
            <button class="action-item" (click)="deleteTag(t)">{{'REPOSITORY.DELETE' | translate}}</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{t.tag}}</clr-dg-cell>
        <clr-dg-cell>{{t.pullCommand}}</clr-dg-cell>
        <clr-dg-cell>
            <clr-icon shape="check" *ngIf="t.verified" style="color: #1D5100;"></clr-icon>
            <clr-icon shape="close" *ngIf="!t.verified" style="color: #C92100;"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell>{{t.author}}</clr-dg-cell>
        <clr-dg-cell>{{t.created | date: 'yyyy/MM/dd'}}</clr-dg-cell>
        <clr-dg-cell>{{t.dockerVersion}}</clr-dg-cell>
        <clr-dg-cell>{{t.architecture}}</clr-dg-cell>
        <clr-dg-cell>{{t.os}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{tags ? tags.length : 0}} {{'REPOSITORY.ITEMS' | translate}}</clr-dg-footer>
</clr-datagrid>