<div [class.alert-app-level]="!isAppLevel" [hidden]="!globalMessageOpened">
    <clr-alert  [clrAlertType]="globalMessage.type" [clrAlertAppLevel]="isAppLevel" [(clrAlertClosed)]="!globalMessageOpened" (clrAlertClosedChange)="onClose()">
        <div class="alert-item">
            <span class="alert-text">{{message}}</span>
            <div class="alert-actions alert-style" *ngIf="needAuth">
                <button class="btn alert-action" (click)="signIn()">{{ 'BUTTON.LOG_IN' | translate }}</button>
            </div>
        </div>
    </clr-alert>
</div>