[Unit]
Description=Harbor Cloud Native Registry
Documentation=https://goharbor.io
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/docker compose -f /etc/goharbor/harbor/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /etc/goharbor/harbor/docker-compose.yml down -v
ExecStopPost=/usr/bin/docker compose -f /etc/goharbor/harbor/docker-compose.yml rm -f

[Install]
WantedBy=multi-user.target
