.breadcrumb a {
    text-decoration: none;
    cursor: pointer;
    color: #007cbb;
    font-size: 16px;
    margin: 5px;
}
.breadcrumb {
    margin-bottom: 0.5rem;
}
.back-icon {
    color: #007cbb;
    font-size: 16px;
}
