clr-tooltip {
    top: -1px;
}

.padding-right-28 {
   padding-right:28px;
}

.top-1 {
    top: -1px;
}
.top-1px {
    top: 1px;
}
.top-5 {
    top: -5px;
}
.oidc-tip {
    color: rgb(10, 74, 112);
}
