clr-tooltip {
    top: -1px;
}

.padding-right-28 {
   padding-right:28px;
}

.top-1 {
    top: -1px;
}
.top-1px {
    top: 1px;
}
// .top-5 {
//     top: -5px;
// }
.oidc-tip {
    color: rgb(10, 10, 10);
}
.more-info-link {
    color: #101010;
}
.ml-04 {
    margin-left: 0.4rem;
}