clr-tooltip {
    top: -1px;
}

.padding-right-28 {
   padding-right:28px;
}

.top-1 {
    top: -1px;
}
.top-1px {
    top: 1px;
}
.top-5 {
    top: -5px;
}
.oidc-tip {
    position: absolute;
    top: 170px;
    color: rgb(210, 74, 112);
}
