@import "../../../../../lib/mixin";

.title-container {
    display: flex;
    .chart-name {
        border-right: 1px solid gray;
        font-size: 27px;
        font-weight: normal;
        padding-right: 9px;
        margin-right: 9px;
    }
}

.detail-loading {
    @include absolute-center;
}

.flex-container {
    display: flex;
    -webkit-display:flex;
    justify-content: space-between;

    .title-container {
        display: flex;
        align-items:center;
    }
}