<!-- Authenticated-->
<div class="row row-fill-height row-margin" *ngIf="isSessionValid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <statistics-panel></statistics-panel>
        <top-repo></top-repo>
    </div>
</div>

<!-- Guest -->
<div class="row row-fill-height" *ngIf="!isSessionValid">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 column-fill-height">
        <div class="start-card">
            <div class="card-img my-card-img">
            </div>
            <div class="card-block">
                <h3 class="card-title">Getting Start</h3>
                <p class="card-text">
                    {{'START_PAGE.GETTING_START' | translate}}
                </p>
            </div>
            <div class="card-footer my-card-footer">
                <a href="http://vmware.github.io/harbor/" target="_blank" class="btn btn-sm btn-link">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <top-repo></top-repo>
    </div>
</div>