.search-overlay {
    display: block;
    position: absolute;
    height: 94%;
    width: 97%;
    /*shoud be lesser than 1000 to aoivd override the popup menu*/
    z-index: 999;
    box-sizing: border-box;
    background: #fafafa;
}

.search-header {
    display: inline-block;
    width: 100%;
    position: relative;
}

.search-title {
    margin-top: 0px;
    font-size: 28px;
    letter-spacing: normal;
    color: #000;
}

.search-close {
    position: absolute;
    right: 24px;
    cursor: pointer;
}

.search-parent-override {
    position: relative !important;
}

.search-spinner {
    top: 50%;
    left: 50%;
    position: absolute;
}