<form #labelForm="ngForm" [hidden]="!formShow" class="label-form">
    <div class="clr-row clr-align-items-center">
        <!-- Label Name -->
        <div class="clr-col-auto clr-form-control form-field">
            <label for="name">{{ 'LABEL.LABEL_NAME' | translate }}</label>
            <div
                class="clr-control-container"
                [class.clr-error]="isLabelNameExist">
                <div class="clr-input-wrapper">
                    <input
                        class="clr-input"
                        type="text"
                        id="name"
                        name="name"
                        required
                        autocomplete="off"
                        [(ngModel)]="labelModel.name"
                        #name="ngModel"
                        (keyup)="existValid(labelModel.name)" />
                    @if (isLabelNameExist) {
                    <clr-icon
                        class="clr-validate-icon"
                        shape="exclamation-circle"></clr-icon>
                    }
                </div>

                @if (isLabelNameExist) {
                <span class="clr-subtext" [class.error]="isLabelNameExist">
                    {{ 'LABEL.NAME_ALREADY_EXISTS' | translate }}
                </span>
                }
            </div>
        </div>

        <!-- Color -->
        <div class="clr-col-auto clr-form-control form-field">
            <label for="color">
                <span>{{ 'LABEL.COLOR' | translate }}</span>
                <clr-dropdown
                    class="dropdown-color"
                    [clrCloseMenuOnItemClick]="true">
                    <button
                        clrDropdownTrigger
                        class="btn btn-outline btnColor"
                        type="button"
                        aria-label="Color dropdown">
                        <clr-icon shape="caret" direction="down"></clr-icon>
                    </button>
                    <clr-dropdown-menu class="color-dropdown-menu" *clrIfOpen>
                        @for (i of labelColor; track i) {
                        <button
                            clrDropdownItem
                            type="button"
                            class="dropdown-item"
                            (click)="labelModel.color = i.color"
                            [class.borderSty]="i.color === '#FFFFFF'"
                            [ngStyle]="{
                                'background-color': i.color,
                                color: i.textColor
                            }">
                            Aa
                        </button>
                        }
                    </clr-dropdown-menu>
                </clr-dropdown>
            </label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input
                        class="clr-input label-color-input"
                        type="text"
                        id="color"
                        size="8"
                        name="color"
                        disabled
                        [(ngModel)]="labelModel.color"
                        #color="ngModel" />
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="clr-col-auto clr-form-control form-field">
            <label for="description">{{
                'LABEL.DESCRIPTION' | translate
            }}</label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input
                        class="clr-input flex-fill"
                        type="text"
                        id="description"
                        name="description"
                        [(ngModel)]="labelModel.description"
                        #description="ngModel" />
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="clr-col-auto">
            <button
                type="button"
                class="btn btn-outline"
                (click)="onCancel()"
                [disabled]="inProgress">
                {{ 'BUTTON.CANCEL' | translate }}
            </button>
            <button
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit()"
                [disabled]="!isValid">
                {{ 'BUTTON.OK' | translate }}
            </button>
        </div>
    </div>
</form>
