.label-form {
    margin-bottom: -10px;
    margin-top: 20px;
    border: 1px solid #ccc;

    .flex-fill {
        flex: 1;
        min-width: 0;
    }

    /* stylelint-disable */
    .btnColor {
        margin: 0 !important;
        padding: 0 !important;
        width: 26px;
        height: 22px;
        min-width: 26px;
    }

    .dropdown-color {
        margin-left: 0.5rem;
    }

    .dropdown .dropdown-toggle.btn {
        padding: 0 !important;
    }

    .borderSty {
        border: 1px solid #a1a1a1 !important;
        line-height: 22px;
    }
}

::ng-deep {
    .color-dropdown-menu {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        width: 166px !important;
        min-width: unset !important;
        max-width: unset !important;
        padding: 6px !important;

        .dropdown-item {
            display: inline-block !important;
            margin: 2px 4px !important;
            padding: 0 !important;
            width: 30px !important;
            min-width: unset !important;
            max-width: unset !important;
            height: 24px !important;
            text-align: center !important;
            line-height: 24px !important;
            border: 0 !important;
            color: white !important;
            font-size: 12px !important;
            cursor: pointer !important;
        }
    }
}

.position-ab {
    position: absolute;
}
