@mixin text-overflow
{
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;
  white-space: nowrap
}


@mixin text-overflow-param($width) {
  width: $width;
  @include text-overflow;
}

@mixin grid-right-top-pos{
  position: absolute;
  z-index: 100;
  right: 35px;
  margin-top: 4px;
}

@mixin absolute-center($width:108px) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: $width !important;
  height: $width !important;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dropdown-as-action-button {
  margin: .25rem .5rem .25rem 0;
}

.option-right {
  padding-right: 18px;
  padding-bottom: 6px;
}

.refresh-btn {
  margin-top: 8px;
  cursor: pointer;
}

.refresh-btn:hover {
  color: #007cbb;
}

.sub-header-title {
  margin: 12px 0;
}

.embeded-datagrid {
  width: 98%;
  float: right;
}

.hidden-tag {
  display: block;
  height: 0;
}

:host >>> .datagrid-placeholder {
  display: none;
}

.truncated {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.copy-failed {
  color: red;
  margin-right: 6px;
}

:host >>> .datagrid clr-dg-column {
  min-width: 80px;
}

.rightPos {
  position: absolute;
  z-index: 1;
  right: 35px;
  margin-top: 34px;
  display: flex;
}

.btn-group .dropdown-menu clr-icon {
  display: block;
}

.dropdown-menu .dropdown-item {
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1;
  height: 1.2rem;
}

.dropdown-menu input {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pull-left {
  display: inline-block;
  float: left;
}

.pull-right {
  display: inline-block;
  float: right;
}

.btn-link {
  display: inline-flex;
  min-width: 15px;
  vertical-align: super;
}

.trigger-item,
.signpost-item {
  display: inline;
}

.signpost-content-body .label {
  margin: 0.3rem;
}

.labelDiv {
  position: absolute;
  left: 34px;
  top: 5px;
}

.trigger-item hbr-label-piece {
  display: flex !important;
  margin: 6px 0;
}

:host >>> .signpost-content {
  min-width: 4rem;
}

:host >>> .signpost-content-body {
  padding: 0 0.4rem;
}

:host >>> .signpost-content-header {
  display: none;
}

.filterLabelPiece {
  position: absolute;
  top: 8px;
  z-index: 1;
}

.dropdown .dropdown-toggle.btn {
  @include dropdown-as-action-button;
}

.label-filter-panel {
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: .5rem 0;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0.125rem hsla(0, 0%, 45%, 0.25);
  min-width: 5rem;
  max-width: 15rem;
  border-radius: 0.125rem;
  .form-group input {
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.no-labels {
  padding-left: 10px;
}

.has-label {
  max-height: 300px;
  overflow-y: auto;
}

.filter-grid {
  display: grid;
}

.labelBtn {
  position: relative;
  overflow: hidden;
  font-size: 0.58333rem;
  letter-spacing: normal;
  font-weight: 400;
  background: transparent;
  border: 0;
  color: #565656;
  cursor: pointer;
  display: block;
  margin: 0;
  width: 100%;
  height: 30px;
  text-transform: none;
}

.labelBtn:hover {
  background-color: #eee;
}

.labelBtn:focus {
  outline: none;
}

.filterLabelHeader {
  font-size: 0.5rem;
  font-weight: 600;
  letter-spacing: normal;
  padding: 0 0.5rem;
  line-height: 0.75rem;
  margin: 0;
}

.filterClose {
  position: absolute;
  right: 8px;
  top: 5px;
  cursor: pointer;
  font-size: 20px;
}

.retag-modal-body {
  overflow-y: hidden;
}

hbr-image-name-input {
  width: 100%;
}

.tag-row {
  position: relative;
}

.datagrid-top {
  .flex-max-width {
    max-width: 220px;
    min-width: 200px;
  }
  .icon-cell {
    max-width: 1.5rem;
    min-width: 1.5rem;
    clr-icon {
      cursor: pointer;
    }
  }
}

.color-green {
  color: #1d5100;
}

.color-red {
  color: #c92100;
}

.color-gray {
  color: #565656;
}
clr-datagrid {
  ::ng-deep .datagrid-table {
    position: static;
  }
}

.cell {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ml-8 {
  margin-left: 8px;
}
.immutable {
  padding-right: 94px;
  position: relative;
  span {
    position: absolute;
    right: 0;
    margin-right: 0;
  }
}
.white-normal {
  white-space: normal;
}
.max-width-100 {
  width: 128px;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
}
.max-width-38 {
  max-width: 38px !important;
  min-width: 0 !important;
}

clr-datagrid {
  height: auto !important;
}

.artifact-icon {
  width: 0.8rem;
  height: 0.8rem;
}
.width-p-100 {
  width: 100%;
  .lg {
    width: 450px;
  }
}
.w-rem-4 {
  min-width: 4rem !important;
}
.tag-header-color {
  color: #fff;
}
.tag-body-color {
  color: #ccc;
}
.table {
  .tag-tr {
    td {
      padding-top: 8px;
      padding-bottom: 2px;
    }
  }
  .tag-thead {
    th {
      padding-top: 0;
      padding-bottom: 5px;
      border: none;
      font-weight: 400;
    }
  }
}

.action-dropdown {
  .action-dropdown-item {
    position: static;
    padding-left: 1rem;
    line-height: inherit;
    height: auto;
    &::before {
      margin-top: .5rem;
    }
  }
  .dropdown-header {
    text-transform: none;
  }
}
.filter-label-input {
  ::ng-deep {
    .clr-input-wrapper {
      max-height: 2rem;
    }

  }

}
.scan-btn{
  margin-top: -.3rem;
}

.eslip {
  margin-left: -3px;
}

.execution-select {
  height: 24px;
  display: flex;
  justify-content: flex-end;
  .filter-tag {
      float: left;
      margin-top: 8px;
      .clr-form-control {
        margin-top: 0;
      }
  }
}
.list-filter {
  width:7rem;
  margin-left: 0.8rem;
  padding: 0;
  li {
    padding-left: 1rem;
    &:hover {
      background-color: #eee;
      
    }
  }
}
.no-border:focus {
  outline: none;
}