.rule-width {
  width: 100%;
}

.input-width {
  width: 350px;
}
.padding-left-0 {
  padding-left: 0;
}
.no-margin {
  margin: 0;
}

.permission{
  padding-top: 0.1rem;
  color: #000000;
}

.padding-left-120{
  padding-left: 126px;
}
.w-90{
  width: 90%;
}
.date {
  margin-top: -0.9rem;
}
.input-width-date {
  width: 265px;
}
.mt-description {
  margin-top: 2.5rem;
}
.width-table {
  width: 388px;
}
.all-projects {
  width: 100%;
}
.opacity-07 {
  opacity: 0.7;
}
.disabled {
  opacity: 0.5;
}
.modal-footer {
  align-items: center;
  justify-content: space-between;
}
.message {
  margin-left: 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expiration-width {
  width: 194px;
}
.check {
  margin-right: 5px;
  color: green;
}
.dropdown-per {
  margin-top: -1px;
}
.mt-8px {
  margin-top: 8px !important;
}
.showWarning {
  color: #b3a000;
}
.dropdown-item {
  min-height: 20px;
  display: flex;
  align-items: center;
}
.dropdown-menu {
  overflow-y: auto;
}
.ml-20px {
  margin-left: 20px;
}
