<h1 style="display: inline-block;">{{'CONFIG.TITLE' | translate }}</h1>
<span class="spinner spinner-inline" [hidden]="inProgress === false"></span>
<clr-tabs (clrTabsCurrentTabLinkChanged)="tabLinkChanged($event)">
    <clr-tab-link [clrTabLinkId]="'config-auth'" [clrTabLinkActive]="true">{{'CONFIG.AUTH' | translate }}</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'config-replication'">{{'CONFIG.REPLICATION' | translate }}</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'config-email'">{{'CONFIG.EMAIL' | translate }}</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'config-system'">{{'CONFIG.SYSTEM' | translate }}</clr-tab-link>

    <clr-tab-content [clrTabContentId]="'authentication'" [clrTabContentActive]="true">
        <config-auth [ldapConfig]="allConfig"></config-auth>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'replication'">
        <form #repoConfigFrom="ngForm" class="form">
            <section class="form-block">
                <div class="form-group">
                    <label for="verifyRemoteCert">{{'CONFIG.VERIFY_REMOTE_CERT' | translate }}</label>
                    <clr-checkbox name="verifyRemoteCert" id="verifyRemoteCert" [(ngModel)]="allConfig.verify_remote_cert.value">
                        <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-top-right" style="top:-8px;">
                            <clr-icon shape="info-circle" class="is-info" size="24"></clr-icon>
                            <span class="tooltip-content">{{'CONFIG.VERIFY_REMOTE_CERT_TOOLTIP' | translate }}</span>
                        </a>
                    </clr-checkbox>
                </div>
            </section>
        </form>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'email'">
        <config-email [mailConfig]="allConfig"></config-email>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'system_settings'">
        <form #systemConfigFrom="ngForm" class="form">
            <section class="form-block">
                <div class="form-group">
                    <label for="tokenExpiration">{{'CONFIG.TOKEN_EXPIRATION' | translate }}</label>
                    <div class="select">
                        <select id="tokenExpiration" name="tokenExpiration" [(ngModel)]="allConfig.token_expiration.value">
                    <option>30</option>
                    <option>60</option>
                    <option>90</option>
                    <option>120</option>
                </select>
                    </div>
                </div>
            </section>
        </form>
    </clr-tab-content>
</clr-tabs>
<div>
    <button type="button" class="btn btn-primary" (click)="save()">{{'BUTTON.SAVE' | translate}}</button>
    <button type="button" class="btn btn-outline" (click)="cancel()">{{'BUTTON.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-outline" (click)="testMailServer()" *ngIf="showTestServerBtn">{{'BUTTON.TEST_MAIL' | translate}}</button>
</div>