
.label-form {
  max-width: 100% !important;
}
.clr-control-container {
  margin-bottom: 1rem;
  position: relative;
}
.btn.remove-btn {
  border: none;
  height: 0.6rem;
  line-height: 1;
}
.immutable {
  display: flex;
  align-items: center;
  position: relative;
  .label {
    position: absolute;
    right: 0;
    margin-right: 0;
  }
}
.datagrid-action-bar {
  margin-top: 0.5rem;
}
.position-ab {
  position: absolute;
}
.white-space-nowrap {
  white-space: nowrap;
}
.refresh-btn {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.spinner-tag {
  position: absolute;
  right: -.7rem;
  top: 1.2rem;
}
