<div>
    <form #newUserFrom="ngForm" class="form">
        <section class="form-block">
            <div class="form-group form-group-override">
                <label for="username" class="required form-group-label-override">{{'PROFILE.USER_NAME' | translate}}</label>
                <label for="username" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]='getValidationState("username")'>
                <input type="text" placeholder='{{"PLACEHOLDER.USER_NAME" | translate}}' required pattern='[^"~#$%]+' maxLengthExt="20" #usernameInput="ngModel" name="username" [(ngModel)]="newUser.username" id="username" size="28" 
                (input)='handleValidation("username", false)' 
                (focusout)='handleValidation("username", true)'>
                <span class="tooltip-content">
                    {{usernameTooltip | translate}}
                </span>
                </label><span class="spinner spinner-inline" [hidden]='isChecking("username")'></span>
            </div>
            <div class="form-group form-group-override">
                <label for="email" class="required form-group-label-override">{{'PROFILE.EMAIL' | translate}}</label>
                <label for="email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]='getValidationState("email")'>
                      <input name="email" type="text" #eamilInput="ngModel" [(ngModel)]="newUser.email" 
                      placeholder='{{"PLACEHOLDER.MAIL" | translate}}'
                      required 
                      pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$' id="email" size="28"
                      (input)='handleValidation("email", false)' 
                (focusout)='handleValidation("email", true)'>
                      <span class="tooltip-content">
                          {{emailTooltip | translate}}
                      </span>
                </label>
                <label *ngIf="isSelfRegistration" role="tooltip" aria-haspopup="true" class="tooltip tooltip-bottom-left">
                    <clr-icon shape="info" class="is-info" size="24"></clr-icon>
                    <span class="tooltip-content">
                        {{'TOOLTIP.SIGN_UP_MAIL' | translate}}
                    </span>
                </label><span class="spinner spinner-inline" [hidden]='isChecking("email")'></span>
            </div>
            <div class="form-group form-group-override">
                <label for="realname" class="required form-group-label-override">{{'PROFILE.FULL_NAME' | translate}}</label>
                <label for="realname" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]='getValidationState("realname")'>
                      <input type="text" placeholder='{{"PLACEHOLDER.FULL_NAME" | translate}}' name="realname" #fullNameInput="ngModel" [(ngModel)]="newUser.realname" required maxLengthExt="20" id="realname" size="28"
                      (input)='handleValidation("realname", false)' 
                (focusout)='handleValidation("realname", true)'>
                      <span class="tooltip-content">
                          {{'TOOLTIP.FULL_NAME' | translate}}
                      </span>
                </label>
                <label *ngIf="isSelfRegistration" role="tooltip" aria-haspopup="true" class="tooltip tooltip-bottom-left">
                    <clr-icon shape="info" class="is-info" size="24"></clr-icon>
                    <span class="tooltip-content">
                        {{'TOOLTIP.SIGN_UP_REAL_NAME' | translate}}
                    </span>
                </label>
            </div>
            <div class="form-group form-group-override">
                <label for="newPassword" class="required form-group-label-override">{{'PROFILE.PASSWORD' | translate}}</label>
                <label for="newPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]='getValidationState("newPassword")'>
                <input type="password" id="newPassword" placeholder='{{"PLACEHOLDER.NEW_PWD" | translate}}'
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                    name="newPassword"
                    [(ngModel)]="newUser.password"
                    #newPassInput="ngModel" size="28" 
                    (input)='handleValidation("newPassword", false)' 
                (focusout)='handleValidation("newPassword", true)'>
                <span class="tooltip-content">
                    {{'TOOLTIP.PASSWORD' | translate}}
                </span>
                </label>
                <label *ngIf="isSelfRegistration" role="tooltip" aria-haspopup="true" class="tooltip tooltip-bottom-left">
                    <clr-icon shape="info" class="is-info" size="24"></clr-icon>
                    <span class="tooltip-content">
                        {{'TOOLTIP.PASSWORD' | translate}}
                    </span>
                </label>
            </div>
            <div class="form-group form-group-override">
                <label for="confirmPassword" class="required form-group-label-override">{{'CHANGE_PWD.CONFIRM_PWD' | translate}}</label>
                <label for="confirmPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]='getValidationState("confirmPassword")'>
                <input type="password" id="confirmPassword" placeholder='{{"PLACEHOLDER.CONFIRM_PWD" | translate}}'
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                    name="confirmPassword"
                    [(ngModel)]="confirmedPwd"
                    #confirmPassInput="ngModel" size="28" 
                    (input)='handleValidation("confirmPassword", false)' 
                (focusout)='handleValidation("confirmPassword", true)'>
                <span class="tooltip-content">
                    {{'TOOLTIP.CONFIRM_PWD' | translate}}
                </span>
            </label>
            </div>
            <div class="form-group form-group-override">
                <label for="comment" class="form-group-label-override">{{'PROFILE.COMMENT' | translate}}</label>
                <label for="comment" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]='getValidationState("comment")'>
                <input type="text" #commentInput="ngModel" name="comment" [(ngModel)]="newUser.comment" maxLengthExt="20" id="comment" size="28" 
                (input)='handleValidation("comment", false)' 
                (focusout)='handleValidation("comment", true)'>
                <span class="tooltip-content">
                    {{'TOOLTIP.COMMENT' | translate}}
                </span>
                </label>
            </div>
        </section>
    </form>
</div>
<div style="height: 15px;"></div>