<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">{{'CHANGE_PWD.TITLE' | translate}}</h3>
    <div class="modal-body" style="min-height: 250px; overflow-y: hidden;">
        <form #changepwdForm="ngForm" class="form">
            <section class="form-block">
                <div class="form-group">
                    <label for="oldPassword">{{'CHANGE_PWD.CURRENT_PWD' | translate}}</label>
                    <label for="oldPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]="oldPassInput.invalid && (oldPassInput.dirty || oldPassInput.touched)">
                <input type="password" id="oldPassword" placeholder='{{"PLACEHOLDER.CURRENT_PWD" | translate}}'
                    required
                    name="oldPassword"
                    [(ngModel)]="oldPwd"
                    #oldPassInput="ngModel" size="25">
                <span class="tooltip-content">
                    {{'TOOLTIP.CURRENT_PWD' | translate}}
                </span>
            </label>
                </div>
                <div class="form-group">
                    <label for="newPassword">{{'CHANGE_PWD.NEW_PWD' | translate}}</label>
                    <label for="newPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid]="newPassInput.invalid && (newPassInput.dirty || newPassInput.touched)">
                <input type="password" id="newPassword" placeholder='{{"PLACEHOLDER.NEW_PWD" | translate}}'
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                    name="newPassword"
                    [(ngModel)]="newPwd"
                    #newPassInput="ngModel" size="25">
                <span class="tooltip-content">
                    {{'TOOLTIP.PASSWORD' | translate}}
                </span>
            </label>
                </div>
                <div class="form-group">
                    <label for="reNewPassword">{{'CHANGE_PWD.CONFIRM_PWD' | translate}}</label>
                    <label for="reNewPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid]="(reNewPassInput.invalid && (reNewPassInput.dirty || reNewPassInput.touched)) || (!newPassInput.invalid && reNewPassInput.value != newPassInput.value)">
                <input type="password" id="reNewPassword" placeholder='{{"PLACEHOLDER.CONFIRM_PWD" | translate}}'
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                    name="reNewPassword"
                    [(ngModel)]="reNewPwd"
                    #reNewPassInput="ngModel" size="25">
                <span class="tooltip-content">
                    {{'TOOLTIP.CONFIRM_PWD' | translate}}
                </span>
            </label>
                </div>
            </section>
            <inline-alert (confirmEvt)="confirmCancel($event)"></inline-alert>
        </form>
    </div>
    <div class="modal-footer">
        <span class="spinner spinner-inline" style="top:8px;" [hidden]="showProgress === false"></span>
        <button type="button" class="btn btn-outline" (click)="close()">{{'BUTTON.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-primary" [disabled]="!isValid || showProgress" (click)="doOk()">{{'BUTTON.OK' | translate}}</button>
    </div>
</clr-modal>