<span class="back-icon"><</span>
@if (hasSignedIn) {
<a (click)="backToProject()" class="backStyle">{{
    'PROJECT_DETAIL.PROJECTS' | translate
}}</a>
} @if (hasSignedIn && isWebhookTaskListPage()) {
<span class="back-icon"><</span>
<a (click)="backToWebhook()" class="backStyle">{{
    'PROJECT_DETAIL.WEBHOOKS' | translate
}}</a>
} @if (hasSignedIn && isP2pPreheatTaskListPage()) {
<span class="back-icon"><</span>
<a (click)="backToP2pPreheat()" class="backStyle">{{
    'P2P_PROVIDER.P2P_PROVIDER' | translate
}}</a>
} @if (!hasSignedIn) {
<a [routerLink]="['/harbor', 'sign-in']" class="backStyle">
    {{ 'SEARCH.BACK' | translate }}</a
>
}
<div class="clr-row">
    <div class="clr-col-5">
        <h1 class="custom-h2 center" sub-header-title>
            @if (isProxyCacheProject) {
            <clr-icon shape="cloud-traffic" size="30"></clr-icon>
            } @if (!isProxyCacheProject) {
            <clr-icon shape="organization" size="30"></clr-icon>
            }
            <span class="ml-05 project-name">{{ currentProject.name }}</span>
            @if (isMember) {
            <div class="divider filter-divider"></div>
            } @if (isMember) {
            <span class="role-label">{{ roleName | translate }}</span>
            }
        </h1>
        @if (isProxyCacheProject) {
        <div class="clr-row mt-0 line-height-10">
            <span class="proxy-cache">{{
                'PROJECT.PROXY_CACHE' | translate
            }}</span>
        </div>
        }
    </div>
    <div class="clr-col-7 flex-end">
        <div class="card">
            <div class="card-block container">
                <div class="head">{{ 'PROJECT.ACCESS_LEVEL' | translate }}</div>
                <div class="storage-used font-weight-700">
                    <div>
                        <h3 class="mt-0">
                            {{
                                (currentProject?.metadata?.public === 'true'
                                    ? 'PROJECT.PUBLIC'
                                    : currentProject?.metadata?.public ===
                                      'auth_only'
                                    ? 'PROJECT.AUTH_ONLY'
                                    : 'PROJECT.PRIVATE'
                                ) | translate
                            }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        @if (hasQuotaReadPermission) {
        <div class="card">
            <div class="card-block container">
                <div class="head">
                    {{ 'QUOTA.QUOTA_USED' | translate }}
                </div>
                <div class="storage-used font-weight-700">
                    @if (projectQuota) {
                    <div>
                        <h3 class="mt-0 clr-display-inline-block">
                            <span class="size-number">{{
                                getSizeNumber()
                            }}</span>
                            <span>{{ getSizeUnit() }}</span>
                        </h3>
                        <span class="of">{{ 'QUOTA.OF' | translate }}</span>
                        <span>{{
                            projectQuota?.hard?.storage === -1
                                ? ('QUOTA.UNLIMITED' | translate)
                                : getIntegerAndUnit(
                                      projectQuota?.hard?.storage,
                                      projectQuota?.used?.storage
                                  ).partNumberHard
                        }}</span>
                        <span>{{
                            projectQuota?.hard?.storage === -1
                                ? ''
                                : getIntegerAndUnit(
                                      projectQuota?.hard?.storage,
                                      projectQuota?.used?.storage
                                  ).partCharacterHard
                        }}</span>
                        <div>
                            <div
                                class="progress-block progress-min-width progress-div">
                                <div
                                    class="progress success"
                                    [class.danger]="
                                        projectQuota?.hard?.storage !== -1
                                            ? projectQuota?.used?.storage /
                                                  projectQuota?.hard?.storage >
                                              quotaDangerCoefficient
                                            : false
                                    "
                                    [class.warning]="
                                        projectQuota?.hard?.storage !== -1
                                            ? projectQuota?.used?.storage /
                                                  projectQuota?.hard?.storage <=
                                                  quotaDangerCoefficient &&
                                              projectQuota?.used?.storage /
                                                  projectQuota?.hard?.storage >=
                                                  quotaWarningCoefficient
                                            : false
                                    ">
                                    <progress
                                        value="{{
                                            projectQuota?.hard?.storage === -1
                                                ? 0
                                                : projectQuota?.used?.storage
                                        }}"
                                        max="{{ projectQuota?.hard?.storage }}"
                                        data-displayval="100%"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>
<clr-tabs
    id="project-tabs"
    class="tabs"
    [class.in-overflow]="isTabLinkInOverFlow()">
    @for (tab of tabLinkNavList; track tab; let i = $index) { @if
    (tab.permissions()) {
    <clr-tab>
        <button
            [class.clear-default-active]="isDefaultTab(tab, i)"
            [clrTabLinkInOverflow]="tab.tabLinkInOverflow"
            id="{{ 'project-' + tab.linkName }}"
            clrTabLink
            routerLink="{{ tab.linkName }}"
            routerLinkActive="active"
            type="button">
            {{ tab.showTabName | translate }}
        </button>
    </clr-tab>
    } }
</clr-tabs>

<router-outlet></router-outlet>
