.color-97{
  color: #979797;
}
.rule{
  height: 24px;
  line-height: 24px;
}
.rule-name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.6rem;
  font-weight: 500;
}
.ml-5{
  margin-left: 5px;
}
.width-60{
  width: 60px;
}
.hand{
  cursor: pointer;
}
.datagrid-container{
  padding: 0;
}
.color-79b{
  color: #0079b8;
}