.btn-tag-integration {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  .nav-link {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: #0077b8;
  }
  .active {
    background: #0077b8;
    color: #fff;
  }
}
