@import "../../../../../../shared/mixin";

.title-container {
    display: flex;
    .chart-name-span {
        border-right: 1px solid gray;
        font-size: 27px;
        font-weight: normal;
        padding-right: 9px;
        margin-right: 9px;
    }
}

.version-tool {
    position: relative;
    .toolbar {
        overflow: hidden;
        .rightPos {
            @include grid-right-top-pos;
            .filter-divider {
                display: inline-block;
                height: 16px;
                width: 1px;
                padding-top: 12px;
                padding-bottom: 12px;
                position: relative;
                top: 9px;
                margin-right: 6px;
                margin-left: 6px;
            }
        }
    }
}

clr-dg-action-bar {
    clr-dropdown {
        .btn {
            @include dropdown-as-action-button;
        }
    }
}

hbr-resource-label-signpost {
    display: inline-block;
    max-height: 24px;
    margin-left: 3px;
}

.card-container {
    margin-top: 40px;
    .card-header {
        .card-media-block {
            img {
                height: 45px;
                width: 45px;
            }
            .card-media-description {
                width:80%;
                height: 45px;
                .card-media-title {
                    overflow: hidden;
                    height: 24px;
                }
                .card-media-text {
                    font-size:0.8em;
                    color:#007cbb;
                    @include text-overflow;
                    height: 20px;
                }
            }
        }
    }
    .card-block {
        font-size:0.9em;
        margin-top: 24px;
        min-height: 100px;
        .form-group {
            display: flex;
            label {
                width: 100px;
                color:#aaa;
            }
        }
        margin-top: 0px;
    }
    .card-footer {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.list-img {
    img {
        height: 24px;
        width: 24px;
        margin-right: 12px;
    }
}

.vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.center-x {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.version-position {
    position: relative;
}
