@import "../../../../../shared/mixin";
$size24:24px;
$size60:60px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart-tool {
    position: relative;
    margin-top: 5px;
    .toolbar {
        overflow: hidden;
        .rightPos {
            @include grid-right-top-pos;
            margin-top: 20px;
            .filter-divider {
                display: inline-block;
                height: 16px;
                width: 1px;
                padding-top: 12px;
                padding-bottom: 12px;
                position: relative;
                top: 9px;
                margin-right: 6px;
                margin-left: 6px;
            }
        }
    }
}

.card-container {
    margin-top: 40px;
    .chart-card {
        width: 200px;
        margin: 10px;
    }
    .card-header {
        .card-icon {
           @include flex-center;
        }
        .card-title {
           @include text-overflow;
           text-align:center;
           margin:15px;
        }
    }
    .card-footer {
        background-color:#d7d7d7;
         .version-text {
             font-size:1.1rem;
         }

         .card-label {
            width: 60px;
            display: inline-block;
         }
    }
}

.vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.size-24 {
    width:$size24;
    height:$size24;
}

.size-60 {
    height:$size60;
    max-width:100%;
}

.margin-right-12 {
    margin-right:12px;
}

.file-input {
    display: none;
}

.filename-span {
    @include text-overflow;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

clr-modal {
    .filename-label {
        padding-top: 9px;
    }

    .filename-input {
        margin-top: 12px;
        width: 68%;
    }

    .file-browser-btn {
        margin-left: 15px;
        max-width: 34%;
    }
}

button {
    clr-icon {
        margin-right: 6px;
    }
}

.mb-10 {
    margin-bottom:10px;
}
.table-center {
    display: flex;
    align-items: center;
}

.center-x {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.version-position {
    position: relative;
}
