clr-modal {
    ::ng-deep div.modal-dialog {
        width: unset;
    }
    .rename-tool {
        .btn {
            margin-right: 6px;
            padding-left: 3px;
            padding-right: 3px;
        }
    position: relative;
    bottom: 9px;
    }
    .label-inner-text{
        margin: 0;
    }
}