version: 0.1
log:
  level: {{log_level}}
  fields:
    service: registry
storage:
  cache:
    layerinfo: redis
  {{storage_provider_info}}
  maintenance:
    uploadpurging:
      enabled: false
  delete:
    enabled: true
{% if storage_redirect_disabled %}
  redirect:
    disable: true
{% endif %}
redis:
  addr: {{redis_host}}:{{redis_port}}
  password: {{redis_password}}
  db: {{redis_db_index_reg}}
http:
  addr: :5000
  secret: placeholder
  debug:
    addr: localhost:5001
auth:
  token:
    issuer: harbor-token-issuer
    realm: {{public_url}}/service/token
    rootcertbundle: /etc/registry/root.crt
    service: harbor-registry
validation:
  disabled: true
notifications:
  endpoints:
  - name: harbor
    disabled: false
    url: {{core_url}}/service/notifications
    timeout: 3000ms
    threshold: 5
    backoff: 1s
    ignoredmediatypes:
        - application/vnd.docker.image.rootfs.diff.tar.gzip
        - application/vnd.docker.image.rootfs.foreign.diff.tar.gzip
        - application/vnd.oci.image.layer.v1.tar
        - application/vnd.oci.image.layer.v1.tar+gzip
        - application/vnd.oci.image.layer.v1.tar+zstd
        - application/vnd.oci.image.layer.nondistributable.v1.tar
        - application/vnd.oci.image.layer.nondistributable.v1.tar+gzip
        - application/vnd.oci.image.layer.nondistributable.v1.tar+zstd
        - application/octet-stream
compatibility:
  schema1:
    enabled: true