version: 0.1
log:
  level: {{log_level}}
  fields:
    service: registry
storage:
  cache:
    layerinfo: redis
  {{storage_provider_info}}
  maintenance:
    uploadpurging:
      enabled: false
  delete:
    enabled: true
{% if storage_redirect_disabled %}
  redirect:
    disable: true
{% endif %}
redis:
  addr: {{redis_host}}:{{redis_port}}
  password: {{redis_password}}
  db: {{redis_db_index_reg}}
http:
{% if internal_tls.enabled %}
  addr: :5443
{% else %}
  addr: :5000
{% endif %}
  secret: placeholder
  debug:
    addr: localhost:5001
{% if internal_tls.enabled %}
  tls:
    certificate: /etc/harbor/tls/registry.crt
    key: /etc/harbor/tls/registry.key
{% endif %}

auth:
  htpasswd:
    realm: harbor-registry-basic-realm
    path: /etc/registry/passwd
validation:
  disabled: true
compatibility:
  schema1:
    enabled: true