<div class="" *ngIf="!isTagMode">
    <hbr-copy-input
        [title]="getPullCommandForRuntimeByDigest(artifact)"
        [iconMode]="true"
        [defaultValue]="
            getPullCommandForRuntimeByDigest(artifact)
        "></hbr-copy-input>
    <div
        *ngIf="isCNAB(artifact)"
        class="flex"
        aria-label="Dropdown header Action"
        clrDropdownItem>
        <hbr-copy-input
            [title]="getPullCommandForCNAB(artifact)"
            [iconMode]="true"
            [defaultValue]="getPullCommandForCNAB(artifact)"></hbr-copy-input>
    </div>
    <div
        *ngIf="isChart(artifact)"
        class="flex"
        aria-label="Dropdown header Action"
        clrDropdownItem>
        <hbr-copy-input
            [title]="getPullCommandForChart(artifact)"
            [iconMode]="true"
            [defaultValue]="getPullCommandForChart(artifact)"></hbr-copy-input>
    </div>
</div>

<clr-dropdown
    [clrCloseMenuOnItemClick]="false"
    class="mr-1"
    *ngIf="isTagMode"
    [disabled]="!hasPullCommandForTag(artifact)">
    <hbr-copy-input
        *ngIf="isImage(artifact)"
        [title]="getPullCommandForRuntimeByTag(artifact)"
        [iconMode]="true"
        [defaultValue]="
            getPullCommandForRuntimeByTag(artifact)
        "></hbr-copy-input>

    <div
        *ngIf="isCNAB(artifact)"
        class="flex"
        aria-label="Dropdown header Action"
        clrDropdownItem>
        <hbr-copy-input
            [title]="getPullCommandForCNABByTag(artifact)"
            [iconMode]="true"
            [defaultValue]="
                getPullCommandForCNABByTag(artifact)
            "></hbr-copy-input>
        <span>{{ 'PUSH_IMAGE.CNAB' | translate }}</span>
    </div>
    <div
        *ngIf="isChart(artifact)"
        class="flex"
        aria-label="Dropdown header Action"
        clrDropdownItem>
        <hbr-copy-input
            [title]="getPullCommandForChartByTag(artifact)"
            [iconMode]="true"
            [defaultValue]="
                getPullCommandForChartByTag(artifact)
            "></hbr-copy-input>
        <span>{{ 'PUSH_IMAGE.HELM' | translate }}</span>
    </div>
</clr-dropdown>
