@if (!isTagMode) {
<clr-dropdown>
    @if (isImage(artifact)) {
    <hbr-copy-input
        [title]="getPullCommandForRuntimeByDigest(artifact)"
        [iconMode]="true"
        id="pullCommandForDigest"
        (onCopySuccess)="
            onCpSuccess(getPullCommandForRuntimeByDigest(artifact))
        "
        [defaultValue]="
            getPullCommandForRuntimeByDigest(artifact)
        "></hbr-copy-input>
    } @if (isCNAB(artifact)) {
    <div
        class="flex"
        id="pullCommandForCNAB"
        aria-label="Dropdown header Action">
        <hbr-copy-input
            [title]="getPullCommandForCNAB(artifact)"
            [iconMode]="true"
            (onCopySuccess)="onCpSuccess(getPullCommandForCNAB(artifact))"
            [defaultValue]="getPullCommandForCNAB(artifact)"></hbr-copy-input>
    </div>
    } @if (isChart(artifact) && artifact.tagNumber > 0) {
    <div
        class="flex"
        id="pullCommandForChart"
        aria-label="Dropdown header Action">
        <hbr-copy-input
            [title]="getPullCommandForChart(artifact)"
            [iconMode]="true"
            (onCopySuccess)="onCpSuccess(getPullCommandForChart(artifact))"
            [defaultValue]="getPullCommandForChart(artifact)"></hbr-copy-input>
    </div>
    }
</clr-dropdown>
} @if (isTagMode && hasPullCommandForTag(artifact)) {
<clr-dropdown class="mr-1">
    @if (isImage(artifact)) {
    <hbr-copy-input
        [title]="getPullCommandForRuntimeByTag(artifact)"
        [iconMode]="true"
        (onCopySuccess)="onCpSuccess(getPullCommandForRuntimeByTag(artifact))"
        [defaultValue]="
            getPullCommandForRuntimeByTag(artifact)
        "></hbr-copy-input>
    } @if (isCNAB(artifact)) {
    <hbr-copy-input
        [title]="getPullCommandForCNABByTag(artifact)"
        [iconMode]="true"
        (onCopySuccess)="onCpSuccess(getPullCommandForCNABByTag(artifact))"
        [defaultValue]="getPullCommandForCNABByTag(artifact)"></hbr-copy-input>
    } @if (isChart(artifact)) {
    <hbr-copy-input
        [title]="getPullCommandForChartByTag(artifact)"
        [iconMode]="true"
        (onCopySuccess)="onCpSuccess(getPullCommandForChartByTag(artifact))"
        [defaultValue]="getPullCommandForChartByTag(artifact)"></hbr-copy-input>
    }
</clr-dropdown>
}
