<div class="bar-wrapper">
    @if (queued) {
    <div class="bar-state">
        <span class="label label-orange">{{
            'SBOM.STATE.QUEUED' | translate
        }}</span>
    </div>
    } @if (error) {
    <div class="bar-state bar-state-error">
        <a
            rel="noopener noreferrer"
            class="error-text"
            target="_blank"
            [href]="viewLog()">
            <clr-icon shape="error" status="danger" size="24"></clr-icon>
            {{ 'SBOM.STATE.ERROR' | translate }}
        </a>
    </div>
    } @if (generating) {
    <div class="bar-state bar-state-chart">
        <div>{{ 'SBOM.STATE.SCANNING' | translate }}</div>
        <div class="progress loop loop-height"><progress></progress></div>
    </div>
    } @if (completed) {
    <div class="bar-state bar-state-chart">
        <hbr-sbom-tip-histogram
            [scanner]="getScanner()"
            [artifactDigest]="artifactDigest"
            [accessories]="accessories"
            [sbomSummary]="sbomOverview"
            [sbomDigest]="sbomDigest"
            [hasChild]="hasChild"
            (viewMultiArchSbom)="viewMultiArchSbom.emit()"></hbr-sbom-tip-histogram>
    </div>
    } @if (stopped) {
    <div class="bar-state">
        <span class="label stopped">{{
            'SBOM.STATE.STOPPED' | translate
        }}</span>
    </div>
    } @if (otherStatus) {
    <div class="bar-state">
        <span class="label not-scan">{{
            'SBOM.STATE.OTHER_STATUS' | translate
        }}</span>
    </div>
    }
</div>
