<div ng-if="!vm.isLoggedIn" class="dropdown">
  <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-link" data-target="#" href="">
      <span class="glyphicon glyphicon-user"></span> Language
  </a>
  <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    <li><a href="#">English</a></li>
   <li><a href="#">中文</a></li>
  </ul>
</div>

<div ng-if="vm.isLoggedIn" class="dropdown">
  <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-link" data-target="#" href="">
      <span class="glyphicon glyphicon-user"></span> //vm.username//
  </a>
  <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    <li><a href="/ng/account_setting"><span class="glyphicon glyphicon-pencil"></span> Account Setting</a></li>
    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-globe"></span> Languages</a>
      <ul class="dropdown-menu">
        <li><a href="#">English</a></li>						
		    <li><a href="#">中文</a></li>
      </ul>
    </li>
    <li class="divider"></li>
    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
  </ul>
</div>