<div class="row flex-items-xs-between values-header">
    @if (valueMode) {
    <div class="title-container">
        <label>{{ 'ARTIFACT.SHOW_KV' | translate }}</label>
    </div>
    } @if (!valueMode) {
    <div class="title-container">
        <label>{{ 'ARTIFACT.SHOW_YAML' | translate }}</label>
    </div>
    }
    <div class="switch-container">
        <span
            class="card-btn"
            (click)="showYamlFile(false)"
            (mouseenter)="mouseEnter('value')"
            (mouseleave)="mouseLeave('value')">
            <clr-icon
                size="24"
                shape="view-list"
                title="list values"
                [ngClass]="{
                    'is-highlight': isValueMode || isHovering('value')
                }"></clr-icon>
        </span>
        <span
            class="list-btn"
            (click)="showYamlFile(true)"
            (mouseenter)="mouseEnter('yaml')"
            (mouseleave)="mouseLeave('yaml')">
            <clr-icon
                size="24"
                shape="file"
                title="yaml file"
                [ngClass]="{
                    'is-highlight': !isValueMode || isHovering('yaml')
                }"></clr-icon>
        </span>
    </div>
</div>

@if (!loading) {
<div class="row value-container">
    @if (valueMode) {
    <div class="col-xs-8">
        <table class="table">
            <tbody>
                @for (item of valuesObj | keyvalue; track item) {
                <tr>
                    <td class="left">{{ item?.key }}</td>
                    <td class="left">{{ item?.value }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    } @if (!valueMode) {
    <div class="col-xs-8">
        <div
            class="yaml-container"
            [innerHTML]="values | language : 'yaml' | markdown | async"></div>
    </div>
    }
</div>
} @if (loading) {
<div class="clr-row mt-1 center">
    <span class="spinner spinner-md"></span>
</div>
}
