<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row flex-items-xs-between">
      <div class="col-xs-4">
        <button class="btn btn-link" (click)="openModal()"><clr-icon shape="add"></clr-icon> Policy</button>
        <create-edit-policy></create-edit-policy>
      </div>
      <div class="col-xs-4">
        <input type="text" placeholder="Search for policies">
      </div>
    </div>
    <list-policy [policies]="changedPolicies" (selectOne)="fetchPolicyJobs($event)"></list-policy>
    <div class="row flex-items-xs-between flex-items-xs-bottom">
      <div class="col-xs-4">
        <span>Replication Jobs for 'project01/sync_01'</span>
      </div>
      <div class="col-xs-4">
        <clr-dropdown [clrMenuPosition]="'bottom-left'">
          <button class="btn btn-sm btn-outline-primary" clrDropdownToggle>
            All
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <div class="dropdown-menu">
            <a href="javascript:void(0)" clrDropdownItem>Finished</a>            
            <a href="javascript:void(0)" clrDropdownItem>Running</a>
            <a href="javascript:void(0)" clrDropdownItem>Error</a>
            <a href="javascript:void(0)" clrDropdownItem>Stopped</a>
            <a href="javascript:void(0)" clrDropdownItem>Retrying</a>
          </div>
        </clr-dropdown>
        <input type="text" placeholder="Search for jobs">
      </div>
    </div>
    <list-job [jobs]="changedJobs"></list-job>     
  </div>
</div>