<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row flex-items-xs-between">
      <div class="col-xs-4">
        <button class="btn btn-link" (click)="openModal()"><clr-icon shape="add"></clr-icon> Replication Rule</button>
        <create-edit-policy [projectId]="projectId" (reload)="reloadPolicies($event)"></create-edit-policy>
      </div>
      <div class="col-xs-5 push-xs-1">
        <clr-dropdown [clrMenuPosition]="'bottom-left'">
          <button class="btn btn-link" clrDropdownToggle>
              {{currentRuleStatus.description}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <div class="dropdown-menu">
            <a href="javascript:void(0)" clrDropdownItem *ngFor="let r of ruleStatus" (click)="doFilterPolicyStatus(r.key)"> {{r.description}}</a>
          </div>
        </clr-dropdown>
        <grid-filter filterPlaceholder='{{"REPLICATION.FILTER_POLICIES_PLACEHOLDER" | translate}}' (filter)="doSearchPolicies($event)"></grid-filter>
        <a href="javascript:void(0)" (click)="refreshPolicies()"><clr-icon shape="refresh"></clr-icon></a>
      </div>
    </div>
    <list-policy [policies]="changedPolicies" [projectless]="false" (selectOne)="selectOne($event)" (editOne)="openEditPolicy($event)" (reload)="reloadPolicies($event)"></list-policy>
    <div class="row flex-items-xs-between flex-items-xs-bottom">
      <div class="col-xs-4">
        <span>Replication Jobs</span>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-link" (click)="toggleSearchJobOptionalName(currentJobSearchOption)">{{toggleJobSearchOption[currentJobSearchOption]}}</button>
        <grid-filter filterPlaceholder='{{"REPLICATION.FILTER_POLICIES_PLACEHOLDER" | translate}}' (filter)="doSearchJobs($event)"></grid-filter>
        <a href="javascript:void(0)" (click)="refreshJobs()"><clr-icon shape="refresh"></clr-icon></a>
      </div>
    </div>
    <div class="row flex-items-xs-right" [hidden]="currentJobSearchOption === 0">
      <clr-dropdown [clrMenuPosition]="'bottom-left'">
        <button class="btn btn-link" clrDropdownToggle>
          {{currentJobStatus.description}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a href="javascript:void(0)" clrDropdownItem *ngFor="let j of jobStatus" (click)="doFilterJobStatus(j.key)"> {{j.description}}</a>
        </div>
      </clr-dropdown>
      <div class="flex-items-xs-bottom">
        <clr-icon shape="date"></clr-icon><input type="date" #fromTime  (change)="doJobSearchByTimeRange(fromTime.value, 'begin')">
        <clr-icon shape="date"></clr-icon><input type="date" #toTime  (change)="doJobSearchByTimeRange(toTime.value, 'end')">
      </div>
    </div>
    <list-job [jobs]="changedJobs"></list-job>     
  </div>
</div>