.option-left {
  padding-left: 16px;
  margin-top: 24px;
}
.option-right {
  padding-right: 16px;
  margin-top: 18px;
}

.option-left-down {
  margin-top: 36px;
}

.option-right-down {
  padding-right: 16px;
  margin-top: 24px;
}