.label-info {
    margin: 0px !important;
    padding: 0px !important;
    margin-top: -5px !important;
}

.spinner-pos {
    margin-right: 0px !important;
    top: 2px;
}
.pw-eye {
    margin-left: -24px;
    margin-right: 8px;
    cursor: pointer;
}
.pwd-input {
    padding-right: 26px;
    width: 228px;
}
