<div>
 <a class="cursor" *ngIf="!projectId" (click)="backReplication()">< {{'SIDE_NAV.SYSTEM_MGMT.REPLICATION' | translate}}</a>
 <a class="cursor" *ngIf="projectId" (click)="backProjectReplication()"><{{'SIDE_NAV.PROJECTS' | translate}} &nbsp; {{'SIDE_NAV.SYSTEM_MGMT.REPLICATION' | translate | lowercase}}</a>
 <h1 class="sub-header-title">{{headerTitle | translate}}</h1>
<form [formGroup]="ruleForm"  novalidate>
 <section class="form-block">
  <div class="form-group">
   <label class="col-md-4 form-group-label-override">{{'REPLICATION.NAME' | translate}}<span class="colorRed">*</span></label>
   <label class="col-md-8"  aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
          [class.invalid]='(ruleForm.controls.name.touched && ruleForm.controls.name.invalid) || isRuleNameExist'>
    <input type="text" id="ruleName" class="inputWidth" required maxlength="255" formControlName="name" #ruleName (keyup)='checkRuleName()' autocomplete="off">
    <span class="tooltip-content">{{ruleNameTooltip | translate}}</span>
   </label><span class="spinner spinner-inline spinner-pos" [hidden]="!inNameChecking"></span>
  </div>
  <!--Description-->
  <div class="form-group">
   <label class="col-md-4 form-group-label-override">{{'REPLICATION.DESCRIPTION' | translate}}</label>
   <textarea type="text" id="ruleDescription" class="inputWidth" row= 3; formControlName="description"></textarea>
  </div>
  <!--Projects-->
  <div class="form-group">
   <label class="col-md-4 form-group-label-override">{{'REPLICATION.SOURCE' | translate}}&nbsp;{{'PROJECT.PROJECTS' | translate | lowercase}}<span class="colorRed">*</span></label>
   <div formArrayName="projects" [style.visibility]="noSelectedProject?'hidden':'visible'">
    <div class="projectInput" *ngFor="let project of projects.controls; let i= index" [formGroupName]="i">
     <input formControlName="name" type="text" class="inputWidth" disabled  value="name">
    </div>
   </div>
   <clr-icon *ngIf="!(noProjectInfo.length !=0 || projectId)" shape="search" class="is-solid switchIcon" (click)="openProjectModel()"></clr-icon>
   <label *ngIf="noProjectInfo.length != 0" class="colorRed">{{noProjectInfo | translate}}</label>
   <div class="shadow" [hidden]="!noSelectedProject || noProjectInfo.length != 0"><input  type="text" class="inputWidth" disabled ></div>
  </div>

<!--images/Filter-->
  <div class="form-group">
   <label class="col-md-4 form-group-label-override">{{'REPLICATION.SOURCE_IMAGES_FILTER' | translate}}</label>
   <div formArrayName="filters">
    <div class="filterSelect" *ngFor="let filter of filters.controls; let i=index"  [formGroupName]="i">
     <div>
      <div class="select floatSet">
       <select formControlName="kind" (change)="filterChange($event)"  id="{{i}}" name="{{filterListData[i]?.name}}">
        <option *ngFor="let filter of filterListData[i]?.options;" value="{{filter}}">{{filter}}</option>
       </select>
      </div>
      <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left"
             [class.invalid]='ruleForm.controls.filters.controls[i].controls.pattern.touched && ruleForm.controls.filters.controls[i].controls.pattern.invalid'>
       <input type="text" #filterValue required size="14" formControlName="pattern">
       <span class="tooltip-content">{{'TOOLTIP.EMPTY' | translate}}</span>
      </label>
      <clr-icon shape="times-circle" class="is-solid"  (click)="deleteFilter(i)"></clr-icon>
     </div>
    </div>
   </div>
    <clr-icon shape="plus-circle" class="is-solid" [hidden]="isFilterHide" (click)="addNewFilter()" style="margin-top: 11px;"></clr-icon>
  </div>
  <!--Targets-->
  <div class="form-group">
   <label class="col-md-4 form-group-label-override">{{'DESTINATION.ENDPOINT' | translate}} <span class="colorRed">*</span></label>
   <div formArrayName="targets">
    <div class="select endpointSelect pull-left" *ngFor="let target of targets.controls; let i= index" [formGroupName]="i">
      <select id="ruleTarget " class="inputWidth"  (mouseenter)="noSelectedEndpoint= false" (change)="targetChange($event)"  formControlName="id">
       <option *ngFor="let target of targetList" value="{{target.id}}">{{target.name}}: {{target.endpoint}}</option>
      </select>
     </div>
    <button class="btn btn-info btn-sm addEndpoint" (click)="openModal()"><clr-icon shape="plus"></clr-icon>&nbsp;{{'REPLICATION.NEW' | translate}}</button>
    <div  [hidden]="noSelectedEndpoint">userName: &nbsp;&nbsp;<input type="text" [(ngModel)]="realEndpointData.userName" [ngModelOptions]="{standalone:true}"></div>
    <div  [hidden]="noSelectedEndpoint">password: &nbsp;&nbsp;<input type="password" [(ngModel)]="realEndpointData.password" [ngModelOptions]="{standalone:true}"></div>
   </div>
   <div class="shadow shadow1 hoverBg" #shadowDiv [hidden]="!noSelectedEndpoint || !targetList.length"></div>
   </div>

  <!--Trigger-->
  <div class="form-group">
   <label class="col-md-4 form-group-label-override">{{'REPLICATION.TRIGGER_MODE' | translate}}</label>
   <div  formGroupName="trigger">
    <!--on trigger-->
    <div class="select floatSet">
     <select id="ruleTrigger" formControlName="kind"  (change)="selectTrigger($event)">
      <option value="Manual">{{'REPLICATION.MANUAL' | translate}}</option>
      <option value="Immediate">{{'REPLICATION.IMMEDIATE' | translate}}</option>
      <option value="Scheduled">{{'REPLICATION.SCHEDULE' | translate}}</option>
     </select>
    </div>
    <!--on push-->
    <div formGroupName="schedule_param">
      <div class="select floatSet" [hidden]="!isScheduleOpt">
       <select name="scheduleType" formControlName="type" (change)="selectSchedule($event)">
        <option value="Daily">{{'REPLICATION.DAILY' | translate}}</option>
        <option value="Weekly">{{'REPLICATION.WEEKLY' | translate}}</option>
       </select>
      </div>
      <!--weekly-->
      <span [hidden]="!weeklySchedule || !isScheduleOpt">on &nbsp;&nbsp;</span>
      <div  [hidden]="!weeklySchedule || !isScheduleOpt" class="select floatSet">
       <select name="scheduleDay" formControlName="weekday">
        <option value="1">{{'WEEKLY.MONDAY' | translate}}</option>
        <option value="2">{{'WEEKLY.TUESDAY' | translate}}</option>
        <option value="3">{{'WEEKLY.WEDNESDAY' | translate}}</option>
        <option value="4">{{'WEEKLY.THURSDAY' | translate}}</option>
        <option value="5">{{'WEEKLY.FRIDAY' | translate}}</option>
        <option value="6">{{'WEEKLY.SATURDAY' | translate}}</option>
        <option value="7">{{'WEEKLY.SUNDAY' | translate}}</option>
       </select>
      </div>
      <!--daily/time-->
      <span [hidden]="!isScheduleOpt">at &nbsp;&nbsp;</span>
      <input [hidden]="!isScheduleOpt" type="time" formControlName="offtime"  required value="08:00" />
    </div>
   </div>
   <div style="width: 100%;" [hidden]="!isImmediate">
    <clr-checkbox [clrChecked]="false" id="ruleDeletion" formControlName="replicate_deletion">
     {{'REPLICATION.DELETE_REMOTE_IMAGES' | translate}}
    </clr-checkbox>
   </div>
   <div  style="width: 100%;" >
    <clr-checkbox [clrChecked]="true" id="ruleExit" formControlName="replicate_existing_image_now">
     {{'REPLICATION.REPLICATE_IMMEDIATE' | translate}}
    </clr-checkbox>
   </div>
  </div>

  <div class="offset-md-4">
   <span class="spinner spinner-inline" [hidden]="inProgress === false"></span>
   <br>
   <button type="button" id="ruleBtnCancel" class="btn btn-outline" [disabled]="!hasFormChange() || this.inProgress || this.isSubmitOver" (click)="onCancel()">{{ 'BUTTON.CANCEL' | translate }}</button>
   <button type="submit" id="ruleBtnOk" class="btn btn-primary"  (click)="onSubmit()" [disabled]="!ruleForm.valid || !isVaild || !hasFormChange()">{{ 'BUTTON.OK' | translate }}</button>
  </div><!-- [disabled]="!ruleForm.valid"-->
 </section>
</form>
 <list-project-model (selectedPro)="selectedProject($event)"></list-project-model>
 <hbr-create-edit-endpoint  (reload)="reload($event)"></hbr-create-edit-endpoint>
</div>