/**
 * Created by pengf on 9/28/2017.
 */

.select{
    width: 186px;
}
.select .optionMore{
    background-color: #bfbaba;
    height: 1.6em;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
}
.hideFilter{ display: none;}
h4{
    color: #666;
}
.colorRed{color: red;}
.colorRed a{text-decoration: underline;color: #007CBB;}

label:first-child {
    font-size: 15px;
    left: -10px !important;
}
.inputWidth{width: 310px;}
.endpointSelect{ width: 290px; margin-right: 34px;}
.filterSelect{width: 350px;}
.filterSelect clr-icon{margin-left: 10px;}
.filterSelect label{width: 175px;}
.filterSelect label input{width: 100%;}
.cursor{cursor: pointer;}
.pull-left{float: left;}
.padLeft0{padding-left: 0;}
.floatSet {display: inline-block; width: 120px;margin-right: 10px;}
.form-group{ min-height: 36px;}

.projectInput{float: left;}
.projectInput input{background-color: white;}
.switchIcon{width:20px;height:20px; margin-top: 16px;margin-left: 10px;}
.addEndpoint{  margin-top: .25em !important;}
.shadow{position: absolute;top: 8px;}
.shadow1{width:270px; height: 24px;background-color: #fafafa; z-index: 10; top:5px;}
.hoverBg:hover{display: none;}