<div>
    <div class="arrow-block" *ngIf="!withAdmiral">
        <a (click)="goBackPro()">< {{'SIDE_NAV.PROJECTS'| translate}}</a>
        <a (click)="goBackRep()">< {{'REPOSITORY.REPOSITORIES'| translate}}</a>
        <a (click)="goBack(repositoryId)">< {{repositoryId}}</a>
    </div>
    <hbr-tag-detail (backEvt)="goBack($event)"
    [tagId]="tagId"
    [withClair]="withClair"
    [withAdmiral]="withAdmiral"
    [projectId]="projectId"
    [repositoryId]="repositoryId"></hbr-tag-detail>
</div>