<div>
    <div class="arrow-block" *ngIf="!withAdmiral">
        <a (click)="goBackPro()">{{'SIDE_NAV.PROJECTS'| translate}}</a>
        <span class="back-icon"><</span>
        <a (click)="goBackRep()">{{'REPOSITORY.REPOSITORIES'| translate}}</a>
        <span class="back-icon"><</span>
        <a (click)="goBack(repositoryId)">{{repositoryId}}</a>
    </div>
    <artifact-summary (backEvt)="goBack($event)" 
    [artifactDigest]="artifactDigest"
    [withAdmiral]="withAdmiral"
    [projectId]="projectId"
    [repositoryId]="repositoryId"></artifact-summary>
</div>
