.label-top {
    top: 12px;
}

.icon-wrap {
    height: 14px;
}

.webhook-form-wrap {
    width: 19rem;
    margin: 0 auto;
}

.create-text {
    margin: 0 auto;
    width: 19rem;
}

.create-text-title {
    margin-top: 1rem;
}

.endpoint-label {
    font-weight: bold;
}

.disabled-btn {
    color: #e12200;
}

.disabled-btn:hover {
    color: #c92100;
}

.enabled-icon {
    margin: -2px 5px 0 0;
}
.center {
    justify-content: center;
    align-items: center;
}
