<h3>Projects</h3>
<div class="row flex-items-xs-between">
  <div class="col-xs-4">
    <button class="btn btn-link" (click)="openModal()"><clr-icon shape="add"></clr-icon>New Project</button>
    <button class="btn btn-link" (click)="deleteSelectedProjects()"><clr-icon shape="close"></clr-icon>Delete</button>
    <create-project (create)="createProject($event)" (openModal)="openModal($event)"></create-project>
  </div>
  <div class="col-xs-4">
    <filter-project (filter)="filterProjects($event)"></filter-project>
    <search-project (search)="searchProjects($event)"></search-project>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <list-project (actionPerform)="actionPerform($event)"></list-project>
  </div>
</div>