.start-card {
    border-right: 1px solid #cccccc;
    padding: 24px;
    background-color: white;
    height: 100%;
}

.row-fill-height {
    height: 100%;
}

.row-margin {
    margin-left: 24px;
}

.column-fill-height {
    height: 100%;
}

.my-card-img {
    background-image: url('../../../images/harbor-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
}

.my-card-footer {
    float: right;
    margin-top: 100px;
}