<h4 class="page-header title-color underlined">// 'popular_repositories' | tr //</h4>
<div class="col-xs-4 col-md-12 up-table-pane">
  <table class="table">
    <thead>
      <th>// 'repository_name' | tr //</th><th>// 'count' | tr //</th><th>// 'creator' | tr //</th>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" height="120px" class="empty-hint" ng-if="vm.top10Repositories.length === 0"><h3 class="text-muted">// 'no_top_repositories' | tr //</h3></td>
      </tr>
      <tr ng-if="vm.top10Repositories.length > 0" ng-repeat="t in vm.top10Repositories">
        <td>//t.name//</td><td>//t.count//</td><td>//t.creator === '' ? 'N/A' : t.creator //</td>
      </tr>
    </tbody>
  </table>
</div>  