.confirmation-icon-inline {
    display: inline-block;
}

.confirmation-title {
    line-height: 24px;
    color: #000000;
    font-size: 22px;
}

.confirmation-content {
    font-size: 14px;
    color: #565656;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    white-space: pre-wrap;
}