<clr-dropdown [clrMenuPosition]="'bottom-right'" [clrCloseMenuOnItemClick]="true">
  <button clrDropdownToggle>
    <clr-icon shape="ellipses-vertical"></clr-icon>
  </button>
  <div class="dropdown-menu">
    <a href="javascript:void(0)" clrDropdownItem>New Policy</a>
    <a href="javascript:void(0)" clrDropdownItem (click)="toggle()">Make {{project.public === 0 ? 'Public' : 'Private'}} </a>
    <div class="dropdown-divider"></div>
    <a href="javascript:void(0)" clrDropdownItem (click)="delete()">Delete</a>
  </div>
</clr-dropdown>