.progress-size-small {
    height: 0.5em !important;
}

.visibility-hidden {
    visibility: hidden;
}

.forgot-password-link {
    position: relative;
    line-height: 36px;
    font-size: 14px;
    float: right;
    top: -5px;
}

.popular-repo-wrapper {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-grow: 1;
    margin-top: 24px;
    justify-content: center;
    flex-direction: column;
    height: auto;
    position: relative;
    border-left: 1px solid #eee;
}

.repo-container {
    width: 100%;
    margin-top: -210px;
}

.more-info-link {
    position: relative;
    top: 80px;
    left: 294px;
    padding-right: 36px;
}

.tm-font {
    font-size: 14px !important;
    position: relative;
    top: -9px;
}
.bg{
    position: absolute;
    top: 60px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.login-wrapper {
    flex-wrap: wrap;
    .login {
        background:transparent;
    }
}
.login-oidc{
    margin-top: 50px;
}

.reset-label {
    font-size:inherit;
    color:inherit;
    font-family: inherit;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}