<div class="tab-pane">
  <div class="col-xs-12 col-md-12 each-tab-pane">
    <div class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" ng-model="vm.replicationName" size="30">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="vm.search()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
      <button ng-if="!vm.isOpen" class="btn btn-success" type="button" ng-click="vm.addReplication()" data-toggle="modal" data-target="#createPolicyModal"><span class="glyphicon glyphicon-plus"></span>New Replication</button>
      <create-policy reload="vm.retrievePolicy()"></create-policy>
    </div>
    <div class="pane-split" id="upon-pane"> 	           
      <div class="sub-pane-split">
        <table class="table table-pane">
    			 <thead>
            <th width="10%">Name</th>
            <th width="18%">Description</th>
            <th width="14%">Destination</th>
            <th width="18%">Start Time</th>
            <th width="14%">Status</th>
            <th width="14%">Activation</th>
            <th width="12%">Actions</th>
    			 </thead>
    			 <tbody>
            <tr ng-if="vm.replicationPolicies.length == 0">
              <td colspan="7" height="100%" class="empty-hint" ><h3 class="text-muted">No replication policies, add new replication policy.</h3></td>
            </tr>
            <tr policy_id="//r.id//" ng-if="vm.replicationPolicies.length > 0" ng-repeat="r in vm.replicationPolicies" value="//vm.last = $last//"> 
              <td>//r.name//</td>
              <td>//r.description//</td>
              <td>//r.destination//</td>
              <td>//r.start_time//</td>
              <td>//r.status//</td>
              <td>//r.activation//</td>
              <td></td>
            </tr>
          </tbody>
    		</table>
      </div>
    </div>
    <div class="col-xs-4 col-md-12 well well-sm well-custom well-split"><div class="col-md-offset-10">//vm.projects ? vm.projects.length : 0// // 'items' | tr //</div></div>  
    <p class="split-handle"><span class="glyphicon glyphicon-align-justify"></span></p>
    <h4 class="h4-custom-down">Replication Jobs</h4>
    <hr class="hr-line"/>
    <div class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" ng-model="vm.replicationJobnName" size="30">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="vm.search()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div> 
    <div class="pane-split" id="down-pane">   
      <div class="sub-pane-split">
          <table class="table table-pane" width="98%">
      			 <thead>
              <th width="20%">Name</th>
              <th width="25%">Operation</th>
              <th width="40%">Start Time</th>
              <th width="15%">Status</th>
      			 </thead>
      			 <tbody>
              <tr ng-if="vm.replicationJobs.length == 0">
                <td colspan="4" height="100%" class="empty-hint" ><h3 class="text-muted">No replication jobs.</h3></td>
              </tr>
              <tr ng-if="vm.replicationJobs.length > 0" ng-repeat="r in vm.replicationJobs"> 
                <td>//r.name//</td>
                <td>//r.operation//</td>
                <td>//r.start_time//</td>
                <td>//r.status//</td>
              </tr>
            </tbody>
      		</table>
        </div>
      </div>  
    </div>  
  </div>          
</div>