<clr-modal [(clrModalOpen)]="editRuleOpened"
           [clrModalStaticBackdrop]="true" [clrModalClosable]="true" [clrModalSize]="'lg'">
    <h3 class="modal-title">{{'TAG_RETENTION.EDIT_TITLE' | translate}}</h3>
    <div class="modal-body no-scrolling">
        <div class="height-72">
            <div class="clr-row">
                <div class="clr-col-4">
                    <div class="over-line"></div>
                    <label>{{'TAG_RETENTION.BY_WHAT' | translate}}</label>
                </div>
                <div class="clr-col-5">
                    <div class="over-line"></div>
                    <div class="clr-select-wrapper w-100">
                        <select [(ngModel)]="template" class="clr-select w-100">
                            <!--<option *ngFor="let t of metadata?.templates" value="{{t?.rule_template}}">{{t?.display_text}}</option>-->
                            <option value="lastXDays">{{'TAG_RETENTION.RULE_TEMPLATE_1' | translate}}</option>
                            <option value="latestActiveK">{{'TAG_RETENTION.RULE_TEMPLATE_2' | translate}}</option>
                            <option value="latestK">{{'TAG_RETENTION.RULE_TEMPLATE_3' | translate}}</option>
                            <option value="latestPulledK">{{'TAG_RETENTION.RULE_TEMPLATE_4' | translate}}</option>
                            <option value="always">{{'TAG_RETENTION.RULE_TEMPLATE_5' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="clr-col-3">
                    <div class="over-line">
                        <!--<span>{{'TAG_RETENTION.NUMBER' | translate}}</span>-->
                        <ng-container *ngIf="template!=='always'">
                            <span *ngIf="template=='lastXDays'">{{'TAG_RETENTION.UNIT_DAY' | translate}}</span>
                            <span *ngIf="template!=='lastXDays'">{{'TAG_RETENTION.UNIT_COUNT' | translate}}</span>
                        </ng-container>
                    </div>
                    <div class="w-100">
                        <input [(ngModel)]="number" class="clr-input w-100">
                    </div>
                </div>
            </div>
        </div>
        <div class="height-72">
            <div class="clr-row">
                <div class="clr-col-4">
                    <span>{{'TAG_RETENTION.IN_REPOSITORIES' | translate}}</span>
                </div>
                <div class="clr-col-8">
                    <div class="w-100">
                        <input [(ngModel)]="repositories" class="clr-input w-100">
                    </div>
                    <div>
                        <span><span>{{'TAG_RETENTION.REP_SEPARATOR' | translate}}</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="height-72">
            <div class="clr-row">
                <div class="clr-col-4">
                    <label>{{'TAG_RETENTION.TAGS' | translate}}</label>
                </div>
                <div class="clr-col-3">
                    <div class="clr-select-wrapper w-100">
                        <select [(ngModel)]="tagsSelect" class="clr-select w-100">
                            <option value="matches">{{'TAG_RETENTION.MATCHES_TAGS' | translate}}</option>
                            <option value="excludes">{{'TAG_RETENTION.MATCHES_EXCEPT_TAGS' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="clr-col-5">
                    <div class="w-100">
                        <input [(ngModel)]="tagsInput" class="clr-input w-100">
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-4"></div>
                <div class="clr-col-8">
                    <span>{{'TAG_RETENTION.TAG_SEPARATOR' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="height-72">
            <div class="clr-row">
                <div class="clr-col-4">
                    <label>{{'TAG_RETENTION.LABELS' | translate}}</label>
                </div>
                <div class="clr-col-3">
                    <div class="clr-select-wrapper w-100">
                        <select [(ngModel)]="labelsSelect" class="clr-select w-100">
                            <option value="with">{{'TAG_RETENTION.MATCHES_LABELS' | translate}}</option>
                            <option value="without">{{'TAG_RETENTION.MATCHES_EXCEPT_LABELS' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="clr-col-5">
                    <div class="w-100">
                        <input [(ngModel)]="labelsInput" class="clr-input w-100">
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-4"></div>
                <div class="clr-col-8">
                    <span>{{'TAG_RETENTION.REP_LABELS' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">{{'BUTTON.CANCEL' | translate}}</button>
        <button [disabled]="canAdd()" type="button" class="btn btn-primary" (click)="save()">{{'BUTTON.SAVE' | translate}}</button>
    </div>
</clr-modal>