.content-wrapper {
  margin-top: 20px;
  padding: 0 0 0 15px;
  .md-container {
    border: solid 1px;
  }
  .summary-container {
    padding: 0;
    table {
      margin-top: 0.5rem;
    }
    .content-group {
      margin-bottom: 30px;
    }
    .content-icon {
      margin-right: 6px;
    }
    .text-wrapper {
      word-break: break-all;
    }
  }
  .cmd-title {
    white-space: nowrap;
    vertical-align: middle;
  }
  .cmd-content {
    width: 100%;
  }
}

@mixin align-text-mixin($values...) {
  @each $var in $values {
    &[align="$var"] {
      text-align: $var;
    }
  }
}
