.value-container {
    ::ng-deep pre {
        min-height: fit-content;
        max-height: none !important;
    }
}

.values-header {
    margin-top: 12px;

    .title-container {
        margin-left: 15px;
    }

    .switch-container {
        margin-right: 15px;
    }
}

/* stylelint-disable */
pre {
    max-height: max-content;
    padding-left: 21px;
}
