<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Change Password</h3>
    <div class="modal-body" style="min-height: 250px; overflow-y: hidden;">
        <form #changepwdForm="ngForm" class="form">
            <section class="form-block">
                <div class="form-group">
                    <label for="oldPassword">Current Password</label>
                    <label for="oldPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]="oldPassInput.invalid && (oldPassInput.dirty || oldPassInput.touched)">
                <input type="password" id="oldPassword" placeholder="Enter current password"
                    required
                    name="oldPassword"
                    [(ngModel)]="oldPwd"
                    #oldPassInput="ngModel" size="25">
                <span class="tooltip-content">
                    Current password is Required.
                </span>
            </label>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <label for="newPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]="newPassInput.invalid && (newPassInput.dirty || newPassInput.touched)">
                <input type="password" id="newPassword" placeholder="Enter new password"
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                    name="newPassword"
                    [(ngModel)]="newPwd"
                    #newPassInput="ngModel" size="25">
                <span class="tooltip-content">
                    Password should be at least 7 characters with 1 uppercase, 1 lowercase letter and 1 number
                </span>
            </label>
                </div>
                <div class="form-group">
                    <label for="reNewPassword">Confirm Password</label>
                    <label for="reNewPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [class.invalid]="(reNewPassInput.invalid && (reNewPassInput.dirty || reNewPassInput.touched)) || (!newPassInput.invalid && reNewPassInput.value != newPassInput.value)">
                <input type="password" id="reNewPassword" placeholder="Confirm new password"
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{7,}$"
                    name="reNewPassword"
                    [(ngModel)]="reNewPwd"
                    #reNewPassInput="ngModel" size="25">
                <span class="tooltip-content">
                    Password should be at least 7 characters with 1 uppercase, 1 lowercase letter and 1 number and same with new password
                </span>
            </label>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <span class="spinner spinner-inline" style="top:8px;" [hidden]="showProgress === false"></span>
        <button type="button" class="btn btn-outline" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!isValid || showProgress" (click)="doOk()">Ok</button>
    </div>
</clr-modal>