.form-group-label-override {
    font-size: 14px;
    font-weight: 400;
}

.access-level-label {
    font-size: 14px;
    font-weight: 400;
    margin-left: -4px;
    margin-right: 12px;
    top: -6px;
    position: relative;
}
.modal-height {
    height: 15.3em;
    overflow-y: hidden;
    .form-block > div {
        padding-left: 135px;
        .input-width {
            width: 196px;
        }
        .public-tooltip {
            top: -8px;
            left: -8px;
        }
        .inline-help-public {
            margin-left: 5px;
        }
    }

}

.form-group {
    ::ng-deep {
        clr-select-container {
            margin-top: 0.3rem;
        }
    }
    select {
        display: inline;
    }
    .checkbox-inline {
        margin-left: 5px;
        height: 1rem;
    }
}

