<a *ngIf="hasSignedIn" (click)="backToProject()" class="backStyle"> {{'PROJECT_DETAIL.PROJECTS' | translate}}</a>
<a *ngIf="!hasSignedIn" [routerLink]="['/harbor', 'sign-in']"> {{'SEARCH.BACK' | translate}}</a>

<h1 class="custom-h2" sub-header-title>{{currentProject.name}} <span class="role-label"
        *ngIf="isMember">{{roleName | translate}}</span></h1>
<clr-tabs id="project-tabs" class="tabs" [class.in-overflow]="isTabLinkInOverFlow()">
    <ng-container *ngFor="let tab of tabLinkNavList;let i=index">
        <ng-container *ngIf="tab.permissions()">
            <clr-tab >
                <button [class.clear-default-active]="isDefaultTab(tab, i)" [clrTabLinkInOverflow]="tab.tabLinkInOverflow" id="{{'project-'+tab.linkName}}" clrTabLink
                    routerLink="{{tab.linkName}}" routerLinkActive="active" type="button">
                    <a class="nav-link">{{tab.showTabName | translate}}</a></button>
            </clr-tab>
        </ng-container>
    </ng-container>
</clr-tabs>

<router-outlet></router-outlet>
