<a *ngIf="hasSignedIn" (click)="backToProject()" class="backStyle">&lt; {{'PROJECT_DETAIL.PROJECTS' | translate}}</a>
<a *ngIf="!hasSignedIn" [routerLink]="['/harbor', 'sign-in']">&lt; {{'SEARCH.BACK' | translate}}</a>

<h1 class="custom-h2" sub-header-title>{{currentProject.name}} <span class="role-label" *ngIf="isMember">{{roleName | translate}}</span></h1>
<nav class="subnav sub-nav-bg-color">
    <ul class="nav">
        <li class="nav-item" *ngIf="hasProjectReadPermission">
            <a class="nav-link" routerLink="summary" routerLinkActive="active">{{'PROJECT_DETAIL.SUMMARY' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasRepositoryListPermission">
            <a class="nav-link" routerLink="repositories" routerLinkActive="active">{{'PROJECT_DETAIL.REPOSITORIES' | translate}}</a>
        </li>
        <li *ngIf="withHelmChart && hasHelmChartsListPermission" class="nav-item">
            <a class="nav-link" routerLink="helm-charts" routerLinkActive="active">{{'PROJECT_DETAIL.HELMCHART' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasMemberListPermission">
            <a class="nav-link" routerLink="members" routerLinkActive="active">{{'PROJECT_DETAIL.USERS' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="(hasLabelListPermission && hasLabelCreatePermission) && !withAdmiral">
            <a class="nav-link" routerLink="labels" routerLinkActive="active">{{'PROJECT_DETAIL.LABELS' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasLogListPermission">
            <a class="nav-link" routerLink="logs" routerLinkActive="active">{{'PROJECT_DETAIL.LOGS' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasRobotListPermission">
            <a class="nav-link" routerLink="robot-account" routerLinkActive="active">{{'PROJECT_DETAIL.ROBOT_ACCOUNTS' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasTagRetentionPermission">
            <a class="nav-link" routerLink="tag-retention" routerLinkActive="active">{{'TAG_RETENTION.TAG_RETENTION' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="hasWebhookListPermission">
            <a class="nav-link" routerLink="webhook" routerLinkActive="active">{{'PROJECT_DETAIL.WEBHOOKS' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="isSessionValid && (hasConfigurationListPermission)">
            <a class="nav-link" routerLink="scanner" routerLinkActive="active">{{'SCANNER.SCANNER' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="isSessionValid && (hasConfigurationListPermission)">
            <a class="nav-link" routerLink="configs" routerLinkActive="active">{{'PROJECT_DETAIL.CONFIG' | translate}}</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
