.sub-header-title {
  margin-top: 12px;
  margin-bottom: 12px;
}

.sub-nav-bg-color {
  background-color: #fafafa;
}

.subnav .nav {
  padding-left: 0;
}

.role-label {
  color: #CCCCCC;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.01em;
}
.backStyle{
  color: #007cbb;
  font-size: 12px;
  cursor: pointer;
}
clr-main-container {
  overflow: hidden;
}
#project-nav {
  box-shadow: none;
  .nav {
    box-shadow: inherit;
    .nav-item {
      padding-right: 1rem;
      margin-right: 0;
      box-shadow: 0 -1px 0 #ccc inset; 
    }
    .nav-item:last-child {
      width: 100%;
    }
  }
}