<div class="col-xs-4 col-md-12 down-table-pane">
  <div class="table-head-container">
    <table class="table table-pane table-header">
      <thead>
        <th width="25%">// 'operation' | tr //</th>
        <th width="25%">// 'details' | tr //</th>
        <th width="25%">// 'user' | tr //</th>
        <th width="25%">// 'creation_time' | tr //</th>
      </thead>
    </table>
  </div>
  <div class="table-body-container" style="height: 220px;">
    <table class="table table-pane">
      <tbody>
        <tr>
          <td colspan="5" height="120px" class="empty-hint" ng-if="vm.integratedLogs.length === 0"><h4 class="text-muted">// 'no_user_logs' | tr //</h4></td>
        </tr>
        <tr ng-if="vm.integratedLogs.length > 0" ng-repeat="t in vm.integratedLogs">
          <td width="25%">//t.operation//</td><td width="25%">//t.repo_name//</td><td width="25%">//t.username//</td><td width="25%">//t.op_time | dateL : 'YYYY-MM-DD HH:mm:ss'//</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
