.flex-layout {
    display: flex;
    align-items: center;
    margin:20px 0;
}

.setting-wrapper {
    > * {
        margin-right:35px;
    }
}

.normal-wrapper {
    > * {
        margin-right: 90px;
    }
}

.gc-start-btn {
    width:150px;
}

.job-header {
    margin:20px 0 -10px 0;
}

.day-selector-wrapper {
    display: flex;
}