.flex-layout {
    display: flex;
    align-items: center;
    margin:20px 0;
    font-size: .541667rem;
}

.font-style {
    color: #000;
    font-size: .541667rem;
}

.setting-wrapper {
    label {
        width: 228px;
    }
    *:not(:first-child), span {
        margin-right: 18px;
    }
}

.normal-wrapper {
    > span:first-child {
        width: 228px;
    }
    > span:not(:first-child){
        margin-right: 18px;
    }
}

.gc-start-btn {
    width:150px;
}

.job-header {
    margin:20px 0 -10px 0;
}

.day-selector-wrapper {
    display: flex;
}