
clr-datagrid.datagrid-host {
  clr-dg-row {
    .datagrid-scrolling-cells {
      align-items: center;
      width: 100%;
    }
    clr-dg-cell {
      overflow-wrap: break-word;
    }
    .datagrid-cell {
      border: none;
    }
    .datagrid-expandable-caret-icon {
      margin-top: 0;
    }
  }
  clr-dg-row:nth-of-type(n+2) {
    border-top: 1px solid #ccc;
  }
  .datagrid-select {
    display: flex;
    align-items: center;
    clr-checkbox-wrapper,
    clr-radio-wrapper {
      .clr-control-label {
        min-height: 0.8rem;
      }
    }
  }
  .datagrid-table {
    .datagrid-column {
      .datagrid-column-title,
      clr-dg-filter {
        align-self: center;
      }
    }
  }
}
