body {
    overflow-y: hidden;
}

.app-loading {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    margin:auto;
    width: 108px !important;
    height: 108px !important;
}


/*Hack Clarity alert*/

.alert-global {
    font-size: 16px;
    font-weight: 400;
    font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
    padding: 12px !important;
    border: none !important;
    margin-top: 0px !important;
    max-height: 96px;
}

.alert-global-align {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.tooltip-content{white-space: normal;word-wrap: break-word;}

 .alert.alert-warning{
    padding:10px 12px;
}
 .alert-warning .alert-actions button{
     margin: -2px 0 0px 0;
}
 .modal-header{
     padding: 0;
 }
.rotate-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.datagrid-spinner{margin-top: 24px;}

/* set overflow bar style */
::-webkit-scrollbar {
    width: 8px;
    background:transparent;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #ccc;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
.custom-h2 {
    margin-top: 0 !important;
    line-height: 24px;
}

.datagrid-header{
    z-index: 1 !important;
}

.color-green {
    color: #1D5100;
}

.color-red {
    color: red;
}

.datagrid-table,.datagrid-header{
    position: inherit !important;
}
